.picture-setting-item {
    flex: 1;
    margin-left: 40px;

    &__remove-button {
        display: flex;
        align-items: center;
        text-align: left;
        margin-top: 18px;
        color: var(--dnd-indicator);

        svg {
            margin-right: 6px;
        }
    }

    .team-picture-section {
        position: relative;
        width: fit-content;

        &__team-icon {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--sidebar-header-bg);
            border-radius: 24px;
            width: 120px;
            height: 120px;
        }
    
        &__team-name {
            color: #FFF;
            text-align: center;
            font-family: Metropolis;
            font-size: 56px;
            font-style: normal;
            font-weight: 600;
            line-height: 56px;
        }
    
        .icon-pencil-outline {
            cursor: pointer;
            position: absolute;
            bottom: -6px;
            right: -6px;
            padding: 4px;
            border-radius: 20px;
            border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
            background: var(--center-channel-bg, #FFF);
            box-shadow: 0px 2px 3px 0px var(--elevation-1);
        }

        .team-img-preview {
            border-radius: 24px;
            cursor: pointer;
            width: 120px;
            height: 120px;
        }
    }
}