.move-thread {

    .modal-body {
        overflow: visible;
    }

    &.modal-dialog {
        margin-top: 64px;
    }

    &__body {
        display: flex;
        overflow: visible;
        flex-direction: column;
        color: var(--center-channel-color);
        gap: 24px;

        .custom-textarea,
        #move_thread_textbox {
            min-height: 40px;
            padding: 10px 16px;
        }

        #move_thread_textbox {
            overflow: auto;
            border: none;
            box-shadow: inset 0 0 0 1px rgba(var(--center-channel-color-rgb), 0.16);

            &:focus {
                box-shadow: inset 0 0 0 2px var(--button-bg);
            }

            &:focus:not(:focus-visible) {
                box-shadow: inset 0 0 0 1px rgba(var(--center-channel-color-rgb), 0.16);
            }

            &:focus:focus-visible {
                box-shadow: inset 0 0 0 2px var(--button-bg);
            }
        }
    }

    &__select {
        position: relative;

        .option,
        .singleValue {
            top: 100%;
            display: grid;
            align-content: center;
            align-items: center;
            color: var(--center-channel-color);
            gap: 12px;
            grid-auto-columns: minmax(20%, max-content);
            grid-template-columns: 24px 1fr;
            grid-template-rows: 24px;

            svg,
            .status-wrapper,
            .status--group {
                place-self: center;
            }

            .status--group {
                display: flex;
                width: 1.8rem;
                height: 1.8rem;
                align-items: center;
                justify-content: center;
                margin: 0;
                background-color: rgba(var(--center-channel-color-rgb), 0.12);
            }

            .status-wrapper {
                height: 2.4rem;
            }

            &__content {
                display: flex;
                overflow: hidden;
                max-width: 100%;
                flex-direction: row;
                gap: 8px;

                &--text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &--description {
                    color: rgba(var(--center-channel-color-rgb), 0.56);
                }

                .emoticon {
                    margin-left: 0;
                }
            }

            &__team-name {
                overflow: hidden;
                width: 100%;
                color: rgba(var(--center-channel-color-rgb), 0.56);
                grid-column: 3 / 4;
                text-align: right;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    &__post-preview {
        &--title {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
        }

        &--override {
            padding: 2px 0;
            pointer-events: none;

            &:not(.post--editing):not(.post--editing):hover {
                background-color: transparent;

                .attachment__content.attachment__content--permalink {
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
                }
            }
        }
    }
}

.console__body .modal .GenericModal.move-thread,
.app__body .modal .GenericModal.move-thread {
    margin-top: 64px;

    .modal-body {
        max-height: calc(100vh - 128px - 61px - 88px);

        .form-control {
            border: none;
            box-shadow: none;

            &#move_thread_textbox_placeholder {
                opacity: 0.64 !important;
            }
        }

        .post-error {
            position: relative;
            top: 3px;
            margin-bottom: 0;
            font-size: 0.85em;
            font-weight: normal;
            opacity: 0.55;
        }
    }
}
