.get-app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff;
}

.get-app__header {
    z-index: 2;
    display: flex;
    width: 100%;
    height: 102px;
    margin-bottom: -102px;

    .get-app__logo {
        width: 255px;
        height: auto;
        margin: 30px 40px;
    }

    .get-app__custom-logo {
        max-width: 240px;
        max-height: 32px;
        align-self: center;
        margin-left: 40px;
    }

    .get-app__custom-site-name {
        align-self: center;
        margin-left: 40px;

        > span {
            color: #000;
            font-family: "Open Sans";
            font-size: 40px;
            font-weight: bold;
            line-height: 40px;
            opacity: 0.8;
        }
    }

    .get-app__custom-logo + .get-app__custom-site-name {
        margin-left: 8px;
    }
}

.get-app__dialog {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    gap: 40px;
}

.get-app__graphic {
    display: flex;
    flex: 0 0 600px;
    flex-direction: column;
    align-items: center;

    &.mobile {
        max-height: 500px;
        flex: 0 1 300px;
    }
}

.get-app__dialog-body {
    flex: 0 1 600px;

    .get-app__launching {
        max-width: 512px;
    }
}

.get-app__launching > span {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    line-height: 43px;
    opacity: 0.8;
}

.get-app__alternative {
    margin-top: 8px;

    span {
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 500;
        line-height: 27px;
        opacity: 0.8;
    }

    > a {
        color: #145dbf;
        text-decoration: none;
    }

    > span {
        color: #000;
    }

    &.redirect-page {

        > br.mobile-only {
            display: none;
        }
    }
}

.get-app__buttons {
    margin-top: 28px;
}

.get-app__status {
    display: inline-block;
    margin-right: 20px;
    font-family: "Open Sans";

    > a {
        padding: 13px 30px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }
}

.get-app__preference {
    display: flex;
    margin-top: 23px;
    cursor: pointer;

    > span {
        margin-top: 1px;
        color: #000;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;
        opacity: 0.8;
    }

    .get-app__checkbox {
        width: 18px;
        height: 18px;
        padding: 0;
        margin-right: 7px;
    }
}

.get-app__download-link {
    margin-top: 40px;
    color: #000;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22px;
    opacity: 0.8;

    > span > a {
        color: #145dbf;
        text-decoration: none;
    }

    > br {
        display: none;
    }
}

@media only screen and (max-width: 1280px) {
    .get-app__dialog {
        width: 100%;
        align-items: center;

        .get-app__launching {
            max-width: none;
        }
    }

    .get-app__graphic {
        flex-shrink: 1;
    }
}

@media only screen and (max-width: 1082px) {
    .get-app__header {
        justify-content: center;
        margin-bottom:0;

        .get-app__custom-logo {
            margin-left: 0;
        }

        .get-app__custom-site-name {
            margin-left: 0;

            > span {
                font-size: 24px;
                font-weight: bold;
                line-height: 24px;
            }
        }

        .get-app__custom-logo + .get-app__custom-site-name {
            margin-left: 4px;
        }
    }

    .get-app__dialog {
        flex-direction: column-reverse;
        padding: 0;
        gap: 24px;
        text-align: center;
    }

    .get-app__dialog-body {
        display: flex;
        flex: 0 1 270px;
        flex-direction: column;
        align-self: center;
    }

    .get-app__preference {
        align-self: center;
    }

    .get-app__graphic {
        flex: 0 1 500px;

        &.mobile {
            max-height: none;
            flex: 0 1 347px;
            margin-top: 20px;
            margin-bottom: -200px;
        }

        svg {
            width: 100%;
        }

    }
}

@media only screen and (max-width: 768px) {
    .get-app__header {
        height: 72px;

        .get-app__logo {
            display: block;
            width: 170px;
            height: auto;
            margin: 0 auto;
        }
    }

    .get-app__dialog {
        height: auto;
        flex-direction: column-reverse;
    }

    .get-app__graphic {
        flex-basis: unset !important;
        margin: 16px 40px 0 40px;
    }

    .get-app__dialog-body {
        margin-left: 0;
    }

    .get-app__launching {
        padding: 0 24px;
        margin: 0 auto;
        text-align: center;
    }

    .get-app__alternative {
        display: none;

        span {
            font-size: 16px;
            line-height: 22px;
        }

        &.redirect-page {
            display: block;

            > br.mobile-only {
                display: block;
            }
        }
    }

    .get-app__buttons {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .get-app__preference {
        margin-top: 0;
    }

    .get-app__status {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;

        > a {
            width: 219px;
        }
    }

    .get-app__download-link {
        padding: 0 24px;
        margin-top: 24px;

        > br {
            display: block;
        }
    }
}
