.tabs {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0;

    [role='tablist'] {
        border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
        margin: 0;
        padding-inline: 12px;
    }

    .tab-content {
        flex: 1;
        min-height: 0;
    }
}
