.user-groups-modal-create {
    &.modal-dialog {
        margin-top: calc(50vh - 240px);
    }

    .modal-content .modal-header {
        .d-flex.align-items-center .modal-title {
            margin-left: 16px;
        }
    }

    .modal-body {
        overflow: visible;
    }

    .Input___error {
        &.group-error {
            position: absolute;
            bottom: 35px;
            left: 24px;
        }
    }
}
