.PanelHeader {
    display: flex;
    min-height: 40px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
    color: rgba(var(--center-channel-color-rgb), 0.73);
    font-size: 12px;
    line-height: 16px;

    &__right {
        display: inline-flex;
        flex-shrink: 0;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;

        div + div {
            padding-left: 4px;
        }
    }

    &__left {
        display: flex;
        overflow: hidden;
        flex-wrap: nowrap;
        align-items: center;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;

        > span {
            display: inline-flex;
            min-width: 0;
            align-items: center;

            span {
                overflow: hidden;
                min-width: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    &__timestamp {
        padding-right: 8px;
        color: rgba(var(--center-channel-color-rgb), 0.73);
        vertical-align: middle;
    }

    &__sync-icon {
        display: flex;
        align-items: center;
    }

    &__actions {
        display: none;

        &.show {
            display: inline-flex !important;
        }
    }

    &__info {
        display: inline-flex;
        align-items: center;

        &.hide {
            display: none;
        }
    }
}
