.app__body .modal .InvitationModal.GenericModal__location--center,
.console__body .modal .InvitationModal.GenericModal__location--center {
    @media screen and (min-width: 640px) {
        width: 600px;
    }

    .InvitationModal__header {
        align-items: center;
        padding: 24px 64px 24px 32px;

        .GenericModal__header__text_container {
            margin-top: 0;
        }

        .modal-title {
            margin: 0;
        }
    }
}
