.NoPermissionsView {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .icon-close {
            position: absolute;
            top: 20px;
            right: 15px;
            padding: 0;
            border: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background: none;
            color: inherit;
            color: rgba(var(--center-channel-color-rgb), 0.56);
            cursor: pointer;
            font: inherit;
            font-size: 24px;
            outline: inherit;
        }
    }

    &__title {
        margin: 10px 0 22px;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }

    &__description {
        font-size: 14px;
        text-align: left;
    }
}
