.modal-info-tab-content {
    display: flex;

    .name-description-container {
        flex: 2;
    }

    .description-section-input {
        fieldset {
            height: 100%;
        }
    }

    #teamName, #teamDescription {
        background-color: unset;
    }

    .picture-setting-item {
        flex: 1;
        margin-left: 40px;

        &__remove-button {
            display: flex;
            align-items: center;
            text-align: left;
            margin-top: 18px;
            color: var(--denim-status-do-not-disturb, var(--dnd-indicator, #D24B4E));
        }
    }

    .description-setting-item {
        margin-top: 24px;
    }
}