@charset 'UTF-8';

b,
strong {
    font-weight: 600;
}

a {
    color: $primary-color;
    cursor: pointer;
    text-decoration: none;
    word-break: break-word;

    &:focus,
    &:hover {
        color: $primary-color--hover;
    }
}

body {
    @include font-smoothing;
    font-family: 'Open Sans', sans-serif;
}

.word-break--all {
    word-break: break-all;
}

.fa {
    &.fa-margin--left {
        margin-left: 2px;
    }

    &.fa-margin--right {
        margin-right: 2px;
    }
}

.font-weight--normal {
    font-weight: normal;
}
