.gfycat-search {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 7px 1px 7px;

    .search-input {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        height: 29px;
        box-sizing: border-box;
        padding: 0 27px;
        border-width: 1px;
        border-style: solid;
        background-color: transparent;
        border-radius: 30px;
        box-shadow: none;
        font-size: 1.3rem;
        outline: none;
    }

    // Hide IE input clear button
    .search-input::-ms-clear {
        display: none;
    }

    .search-input-bg {
        position: absolute;
        width: calc(100% - 2.4rem);
        height: 3.3rem;
        border-radius: 0.6rem;
    }

    .placeholder {
        position: absolute;
        top: 14px;
        left: 34px;
        font-size: 13px;
    }

    .ic {
        position: absolute;
        top: calc(50% - 0.3rem);
    }

    .ic-clear-search,
    .ic-search {
        position: absolute;
        z-index: 1;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .ic-clear-search {
        top: 12px;
        right: 12px;
        width: 2rem;
        height: 2rem;
    }

    .ic-search {
        top: 11px;
        left: 11px;
        width: 2.4rem;
        height: 2.4rem;
    }

    .submit-button {
        display: none;
    }
}
