.SystemUserDetail {
    .AdminUserCard__body {
        label {
            display: block;
            font-weight: unset;

            > span:nth-child(1) {
                display: block;
                margin-top: 12px;
                margin-bottom: 6px;
                font-size: 12px;
                font-weight: bold;
            }

            > span:nth-child(2) {
                vertical-align: middle;
            }

            input {
                display: inline-block;
                max-width: 320px;
            }
        }

        svg {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: 0 8px 0 0;
            fill: rgba(var(--sys-color-sidebar-text-rgb), 0.6);
        }
    }

    .teamlistLoading {
        display: flex;
        min-height: 20vh;
        align-items: center;
        justify-content: center;
    }
}
