.cardDialog {
    .dialog {
        width: 100%;
        top: 0;
        height: 100%;

        @media (min-width: 975px) {
            height: calc(100% - 144px);
        }

        >.CardDetail {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @media not screen and (max-width: 975px) {
                padding: 10px 126px;
            }

            @media screen and (max-width: 975px) {
                padding: 16px 32px;
            }
        }

        >.CardDetail--fullwidth {
            padding-left: 78px;
        }
    }
}

.cardFollowBtn {
    display: inline-flex;

    &--attach {
        margin-right: 8px;
    }
}
