@import 'src/styles/z-index';

.confirmation-dialog-box {
    .dialog {
        @include z-index(confirmation-dialog-box);

        > .toolbar {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.box-area {
    display: grid;
    place-items: center;
    padding: 48px 40px;


    .text-heading5 {
        margin: 0 0 8px;
    }

    .sub-text {
        text-align: center;
    }
}

.action-buttons {
    display: flex;
    grid-gap: 12px;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 32px;
}
