@import 'src/styles/z-index';

.ContentBlock {
    // HACK: Fixes Chrome drag and drop preview
    transform: translate3d(0, 0, 0);

    .MenuWrapper,
    .dnd-handle {
        display: none;
    }

    &:hover,
    &.menuOpened {
        @include z-index(menu);

        .MenuWrapper {
            display: flex;
        }

        .dnd-handle {
            display: flex;
            opacity: 0.8;
            height: 18px;
        }
    }

    > * {
        flex: 1 1 auto;
        max-width: 100%;
        min-height: 32px;
    }

    > .octo-block-margin {
        flex: 0 0 auto;
    }

    .ImageElement {
        pointer-events: none;
        width: 100%;
    }
}

.rowContents {
    display: flex;
    width: 100%;
}

.addToRow {
    width: 10px;
}
