.GuestNoBoards {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .title {
        font-size: 52px;
        font-weight: 400;
    }

    .subtitle {
        font-size: 20px;
        margin: 16px 0;
    }

    svg {
        margin: 56px 0;
    }
}
