.IconSelector {
    .octo-icon {
        display: flex;
        line-height: 1.1;
        margin-left: 0;
        color: #000;
        border-radius: 5px;
        align-items: center;
        justify-content: center;

        &:not(.readonly):hover {
            background-color: rgba(var(--center-channel-color-rgb), 0.1);
        }

        &.size-s {
            height: 24px;
            width: 24px;
            font-size: 20px;
        }

        &.size-m {
            height: 28px;
            width: 28px;
            font-size: 22px;
        }

        &.size-l {
            height: 78px;
            width: 78px;
            font-size: 64px;
        }

        span {
            display: block;
        }
    }
}
