/* Markdown Editor */

.product-wrapper {
    .octo-editor-preview {
        a {
            color: rgba(var(--link-color-rgb), 1);
        }
    }
}

.MarkdownEditor {
    cursor: text;

    .MarkdownEditorInput * {
        user-select: text;
    }

    .octo-editor-preview * {
        user-select: text;
    }

    .octo-editor-preview {
        min-height: 2em;

        a {
            &:hover {
                text-decoration: underline;
            }
        }

        p {
            margin: 0;
            word-break: break-word;
        }
    }

    .octo-editor-activeEditor {
        overflow: hidden;
        border-radius: 5px;
    }
}
