@charset 'UTF-8';

// Color Variables
$primary-color: rgb(35, 137, 215);
$primary-color--hover: darken($primary-color, 10%);
$bg--gray: rgb(245, 245, 245);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$red: rgb(229, 101, 101);
$yellow: rgb(255, 255, 0);
$light-gray: rgba(0, 0, 0, .15);
$gray: rgba(0, 0, 0, .3);
$dark-gray: rgba(0, 0, 0, .5);

// Page Variables
$border-gray: 1px solid #ddd;

// Random variables
$border-rad: 1px;

// Webrtc Variables
$button--ready: #00A6EE;
$video-circle-btn: #2f81b7;
$video-circle-hover: #56C303;
$video-circle-offline: #aaa;
$button--cancel: #E41020;
$button--pickup: #73B001;
$connecting: $white;
$webrtc-notification-bg: rgba(112, 128, 144, .8);