
logs
.DS_Store
node_modules
dist
npm-debug.log

web/static/js/bundle*.js
web/static/js/libs*.js
model/version.go
model/version.go.bak

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Log files
*mattermost.log
*npm-debug.log*

# Vim temporary files
*.swp

# Build files
*bundle.js

web/sass-files/sass/.sass-cache/
*config.codekit
*.sass-cache
*styles.css

# Default local file storage
data/*
api/data/*

.agignore
.ctags
tags
