/webapp/channels/src/packages/mattermost-redux/src/store/configureStore.ts @hmhealey
/server/channels/app/authentication.go @mattermost/product-security
/server/channels/app/authorization.go @mattermost/product-security
