.ViewLimitDialog > .wrapper > .dialog {
    color: rgb(var(--center-channel-color-rgb));
    width: 512px;
    height: max-content;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 20px 32px rgba(var(--center-channel-color-rgb), 0.1);

    .toolbar {
        flex-direction: row-reverse;
        padding-bottom: 0;
    }

    .ViewLimitDialog_body {
        padding: 0 32px 10px;
    }

    img {
        width: 217px;
    }

    .text-heading1 {
        font-weight: 400;
        word-break: break-word;
        white-space: normal;
        display: flex;
        flex-direction: column;

        a {
            color: rgb(var(--link-color-rgb));
        }
    }

    .ViewLimitDialog_footer {
        display: flex;
        padding: 24px 32px;
        border-top: solid 1px rgba(var(--center-channel-color-rgb), 0.16);

        .primaryAction {
            margin-left: auto;
        }

        .cancel {
            padding: 0;

            &:hover {
                background-color: unset;
            }
        }
    }
}
