.DndModal {
    width: 600px;

    .DayPickerInput-OverlayWrapper {
        position: initial;
    }

    .DayPickerInput-Overlay {
        top: 42px;
        left: -1px;
        width: calc(100% + 2px);
    }

    .DayPickerInput {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        padding-left: 40px;
    }

    .DayPicker-Day.DayPicker-Day--outside {
        &.DayPicker-Day--today {
            background-color: rgba(var(--center-channel-bg-rgb), 1);
        }
    }
}

.DndModal__content {
    display: flex;
    gap: 16px;

    > div {
        flex: 1;
    }

    .dropdown-menu {
        overflow: auto;
        width: 100%;
        max-height: 268px;
    }
}
