.hint-toast {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 4px 4px 4px 12px;
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
    border-radius: 4px;
    margin: 0;
    background-color: var(--center-channel-bg);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
    color: var(--center-channel-color);
    font-size: 14px;
    font-weight: bold;
    gap: 16px;

    .hint-toast__message {
        line-height: 20px;
        text-align: center;

        .shortcut-key {
            font-weight: 600;
        }
    }

    .hint-toast__dismiss {
        padding: 4px;

        &:hover {
            background-color: var(--center-channel-bg);

            svg {
                fill: rgba(var(--center-channel-color-rgb), 0.75);
            }
        }

        svg {
            fill: rgba(var(--center-channel-color-rgb), 0.75);
            vertical-align: middle;
        }

        .close-btn {
            cursor: pointer;
            line-height: normal;
        }
    }
}

.hint-toast__wrapper {
    position: absolute;
    z-index: 3;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
