.AccessControlPolicySettings {
    .form-group {
        min-height: 40px;
    }

    .delete-policy {
        .btn-primary:not(:disabled) {
            background-color: var(--dnd-indicator);
        }
    }

    .vertically-centered-label {
        padding-top: 7px;
    }
    
    .EditPolicy__error {
        display: flex;
        align-items: center;
        margin-left: 12px;
        color: var(--error-text);
        font-size: 14px;
        
        i {
            margin-right: 4px;
            font-size: 16px;
        }
    }

    .admin-console__warning-notice {
        h4 {
            margin-bottom: 0;
        }

        margin-bottom: 16px;
    }

    .AccessControlPolicySettings__mixedChannelsNotice {
        margin-bottom: 16px;

        h4 {
            margin-bottom: 0;
        }
    }

    .EditPolicy__masked-values-warning {
        margin-top: 4px;
    }

    .EditPolicy__delete-masked-values-warning {
        margin: 28px 28px 0;
    }

    .EditPolicy__delete-linked-teams-warning {
        margin: 28px 28px 0;
    }

    .EditPolicy__delete-linked-teams-list {
        padding-left: 20px;
        margin: 8px 0 0;

        li {
            margin-bottom: 4px;
        }
    }
}
