.AccessControlPolicySettings {
    .form-group {
        min-height: 40px;
    }

    .delete-policy {
        .btn-primary:not(:disabled) {
            background-color: var(--dnd-indicator);
        }
    }

    .vertically-centered-label {
        padding-top: 7px;
    }
}
