.warning-section {
    display: flex;
    padding: 16px;
    border: 1px solid rgba(var(--sidebar-text-active-border-rgb), 0.16);
    background: rgba(var(--sidebar-text-active-border-rgb), 0.08);
    border-radius: 4px;
    gap: 12px;

    &.error {
        border: 1px solid rgba(var(--dnd-indicator-rgb), 0.16);
        background: rgba(var(--dnd-indicator-rgb), 0.08);

        .fa.fa-exclamation-circle {
            color: rgba(var(--dnd-indicator-rgb), 1);
        }
    }

    .fa.fa-exclamation-circle {
        width: 24px;
        height: 24px;
        color: rgba(var(--sidebar-text-active-border-rgb), 1);
        font-size: 24px;
    }

    .warning-text {
        display: flex;
        flex-direction: column;
        color: var(--center-channel-color-88);
        gap: 8px;
    }

    .warning-header {
        font-weight: bold;
    }
}
