.file-preview-modal-footer {
    display: grid;
    width: 100%;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 8px 16px;
    background: black;
    color: white;
    grid-template-columns: auto 1fr;
}
