@use 'utils/variables';

.RenewLicenseCard.TrialLicense {
    .TrialLicenseCard__text-title {
        margin-bottom: 22px;
        color: var(--sys-button-bg);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
    }

    .RenewLicenseCard__buttons {
        .contact_us_primary_cta {
            margin-left: 0px;
        }
    }

    .RenewLicenseCard__text-description {
        margin-bottom: 16px;
        line-height: 20px;
    }

    button {
        display: inline-block;
        margin-top: 0;
    }

}
