.RhsNotificationActivity {
    padding-top: 0;

    &--empty {
        padding-top: 0;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        padding: 0;
        margin: 0;
    }
}

.NotificationSidebarTabs {
    height: 56px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 0;
    border-bottom: var(--border-default);
    color: rgba(var(--center-channel-color-rgb), 0.75);

    .tab-buttons-list {
        display: flex;
    }

    .tab-button-wrapper {
        position: relative;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: 12px 0;

        + .tab-button-wrapper {
            margin-left: 4px;
        }

        .Button {
            display: flex;
            max-width: 100%;

            .Button_label {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .left {
        display: grid;
        height: 100%;
        grid-template-columns: minmax(0, auto) minmax(0, auto);
    }

    .right-anchor {
        display: flex;
        align-items: center;

        .Button {
            padding: 4px 0;

            &:disabled {
                cursor: not-allowed;
            }
        }
    }
}
