.get-app {
    $uchat-teal: #90d0bd;

    @include display-flex;
    @include flex-direction(column);

    height: 90vh;

    hr {
        border-top: 1px solid #ddd;
    }

    .get-app__header {
        color: #666;
        font-size: 20px;
        font-weight: bold;
        text-align: center
    }

    .get-app__continue-with-browser {
        display: block;
        margin-top: 40px;
        text-align: center;
    }

    .get-app__logo {
        width: 120px;
        margin: auto;
        display: block;
    }

    .btn {
        display: block;
        font-size: 20px;
        margin: 0 auto 20px;
        padding: 12px;
        width: 80%;
        border-width: 2px;
        color: $uchat-teal;

        &.btn-primary.get-android-app__open-mattermost,
        &.btn-primary.get-ios-app__open-mattermost {
            font-weight: bold;
            background-color: transparent;
            border-color: $uchat-teal;
            &:hover,
            &:focus,
            &:active {
                color: $white;
                background: $uchat-teal;
            }
        }
    }
}

.get-android-app {
    .get-app__header {
        text-align: left;
    }

    .get-android-app__icon {
        width: 60px;
    }

    .get-android-app__app-info {
        display: inline-block;
        margin-left: 8px;
        vertical-align: middle;

        .get-android-app__app-name {
            color: #666;
            display: block;
            font-size: 13px;
            font-weight: bold;
        }

        .get-android-app__app-creator {
            color: #aaa;
            display: block;
            font-size: 10px
        }
    }

    .get-android-app__continue {
        display: block;
        font-size: 16px;
        margin-bottom: 40px;
        margin-top: 15px;
        padding: 12px;
    }
}
