.SelfHostedPurchaseModal {
    overflow: hidden;
    height: 100%;

    .form-view {
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 100%;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
        align-content: top;
        justify-content: center;
        padding: 77px 107px;
        color: var(--center-channel-color);
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;

        .title {
            font-size: 22px;
            font-weight: 600;
        }

        .form {
            padding: 0 96px;
            margin: 0 auto;

            .form-row {
                display: flex;
                width: 100%;
                margin-bottom: 24px;
            }

            .form-row-third-1 {
                width: 66%;
                max-width: 288px;
                margin-right: 16px;

                .DropdownInput {
                    z-index: 99999;
                    margin-top: 0;
                }
            }

            .DropdownInput {
                position: relative;
                z-index: 999999;
                height: 36px;
                margin-bottom: 24px;

                .Input_fieldset {
                    height: 43px;
                }
            }

            .form-row-third-2 {
                width: 34%;
                max-width: 144px;
            }

            .section-title {
                margin-bottom: 24px;
                color: rgba(var(--center-channel-color-rgb), 0.72);
                font-size: 16px;
                font-weight: 600;
                text-align: left;
            }

            .Input_fieldset {
                height: 40px;
                padding: 2px 1px;
                background: var(--center-channel-bg);

                .Input {
                    height: 32px;
                    background: inherit;
                }

                .Input_wrapper {
                    margin: 0;
                }
            }
        }

        &--hide {
            display: none;
        }

        > .lhs {
            width: 25%;
        }

        > .center {
            width: 50%;
        }

        > .rhs {
            position: sticky;
            display: flex;
            width: 25%;
            flex-direction: column;
            align-items: center;

            .price-text {
                display: flex;
                align-items: baseline;
                padding: 8px 0;
                font-size: 32px;
                font-weight: 600;
                line-height: 1;

                .price-decimals {
                    align-self: end;
                    padding-bottom: 2px;
                    font-size: 16px;

                    &::before {
                        content: '.';
                    }
                }
            }

            .monthly-text {
                align-self: center;
                margin-left: 5px;
                font-size: 14px;
                font-weight: normal;
            }

            .plan_comparison {
                &.show_label {
                    margin-bottom: 51px;
                }

                text-align: center;

                button,
                a {
                    width: 100%;
                    height: 40px;
                    padding: 10px 24px;
                    border: none;
                    background: none;
                    color: var(--denim-button-bg);
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                }
            }

            .PlanCard {
                position: relative;
                width: 280px;
                height: auto;

                .planLabel {
                    position: absolute;
                    top: -44px;
                    left: 52px;
                    display: flex;
                    width: 184px;
                    align-items: center;
                    justify-content: center;
                    padding: 14px;
                    border-radius: 13px 13px 0 0;
                    font-family: 'Open Sans';
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    gap: 5px;
                    line-height: 16px;
                }

                .top {
                    height: 18px;
                    border-radius: 4px 4px 0 0;
                }

                .bottom {
                    &:not(.delinquency, .bottom-monthly-yearly) {
                        height: auto;
                    }

                    padding-right: 24px;
                    padding-bottom: 24px;
                    padding-left: 24px;
                    border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
                    background-color: var(--center-channel-bg);
                    border-radius: 0 0 4px 4px;

                    .enable_annual_sub {
                        margin-top: 12px;
                    }

                    .plan_action_btn {
                        width: 100%;
                        height: 40px;
                        padding: 10px 24px;
                        border: none;
                        background: none;
                        border-radius: 4px;
                        color: var(--denim-button-bg);
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 14px;

                        &.grayed {
                            background: rgba(var(--center-channel-color-rgb), 0.08);
                            color: rgba(var(--center-channel-color-rgb), 0.32);
                        }

                        &.active {
                            border: 1px solid var(--denim-button-bg);
                        }

                        &.special {
                            background: var(--denim-button-bg);
                            color: var(--button-color);
                        }
                    }

                    .button-description {
                        margin-top: 8px;
                        font-family: 'Open Sans';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        text-align: center;
                    }

                    .delinquency_summary_section {
                        width: 100%;
                        height: 116px;
                        margin-top: 24px;
                        margin-bottom: 24px;
                        font-weight: 400;
                        letter-spacing: -0.02em;
                        text-align: center;

                        .summary-section {
                            background-color: rgba(var(--denim-button-bg-rgb), 0.08);
                            border-radius: 4px;
                            font-family: 'Metropolis';

                            .summary-title {
                                padding-top: 12px;
                                font-size: 14px;
                                font-weight: 400;
                            }

                            .summary-total {
                                padding-top: 12px;
                                color: #152234;
                                font-size: 28px;
                                font-weight: 700;
                                line-height: 20px;
                            }

                            .view-breakdown {
                                &:hover {
                                    cursor: pointer;
                                }

                                padding-top: 12px;
                                padding-bottom: 12px;
                                color: var(--denim-button-bg);
                                font-family: 'Metropolis';
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                            }
                        }

                        h1 {
                            color: var(--center-channel-color);
                            font-family: 'Metropolis';
                            font-size: 52px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 60px;
                        }

                        .enterprise_price {
                            font-size: 32px;
                        }

                        p {
                            color: rgba(var(--center-channel-color-rgb), 0.72);
                            font-family: 'Metropolis';
                            font-size: 18px;
                            font-style: normal;
                            line-height: 20px;
                        }
                    }

                    .plan_price_rate_section {
                        width: 100%;
                        height: 150px;
                        border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
                        font-weight: 400;
                        letter-spacing: -0.02em;
                        text-align: center;

                        h4 {
                            color: rgba(var(--center-channel-color-rgb), 0.72);
                            font-family: 'Metropolis';
                            font-size: 20px;
                            font-style: normal;
                            line-height: 30px;
                        }

                        h4.plan_name {
                            margin-top: 16px;
                            margin-bottom: 0;
                        }

                        h1 {
                            margin: 0;
                            color: var(--center-channel-color);
                            font-family: 'Metropolis';
                            font-size: 52px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 60px;
                        }

                        .enterprise_price {
                            font-size: 32px;
                        }

                        p {
                            color: rgba(var(--center-channel-color-rgb), 0.72);
                            font-family: 'Metropolis';
                            font-size: 18px;
                            font-style: normal;
                            line-height: 20px;
                        }

                        p.plan_text {
                            margin-bottom: 0;
                        }
                    }

                    .plan_payment_commencement {
                        margin-top: 16px;
                        margin-bottom: 24px;
                        color: var(--center-channel-color-rgb);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                    }

                    .plan_billing_cycle {
                        &.delinquency {
                            margin-bottom: 24px;
                        }

                        margin-top: 16px;
                        margin-bottom: 24px;
                        color: rgba(var(--center-channel-color-rgb), 0.72);
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                    }

                    table {
                        width: 100%;
                        border-collapse: collapse;

                        .yearly_savings {
                            padding-top: 12px;
                            padding-bottom: 12px;
                            color: var(--denim-status-online);
                            font-family: 'Open Sans';
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 20px;
                        }

                        .total_price {
                            color: var(--sys-denim-center-channel-text);
                            font-family: 'Open Sans';
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;
                        }

                        .monthly_price {
                            color: var(--sys-denim-center-channel-text);
                            font-family: 'Open Sans';
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            letter-spacing: 0.02em;
                            line-height: 20px;
                        }
                    }

                    table tr td:nth-child(2) {
                        text-align: right;
                    }

                    .flex-grid {
                        display: flex;
                        margin-top: 20px;

                        .user_seats_container {
                            width: 100px;

                            .user_seats {
                                height: 24px;
                            }

                            .Input_container {
                                fieldset:not(.Input_fieldset___error) {
                                    margin-bottom: 24px;
                                }
                            }
                        }

                        .icon {
                            flex: 1;
                            align-self: flex-start;
                            justify-content: left;

                            .icon-information-outline {
                                margin: 0;
                                color: rgba(var(--sys-denim-center-channel-text-rgb), 0.72);
                            }
                        }

                        .Input___customMessage {
                            width: 250px;
                            margin-bottom: 4px;

                            .icon.error {
                                display: none;
                            }
                        }
                    }
                }

                .bottom.bottom-monthly-yearly {
                    display: block;
                    overflow: auto;
                    border-radius: 4px;
                }
            }
        }
    }

    .signup-consequences {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        color: rgba(var(--center-channel-color-rgb), 0.72);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;

        span:first-of-type {
            margin-bottom: 10px;
        }
    }

    .submitting,
    .success,
    .failed {
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 100%;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        padding: 77px 107px;
        color: var(--center-channel-color);
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;

        .IconMessage .content .IconMessage-link {
            margin-left: 0;
        }
    }

    .background-svg {
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100%;
        height: 100%;

        >div {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .self-hosted-agreed-terms {
        label {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }

        input[type=checkbox] {
            margin-right: 12px;
        }

        font-size: 16px;
    }
}

@media (max-width: 1020px) {
    .SelfHostedPurchaseModal {
        .form-view {
            > .lhs {
                display: none;
            }

            > .center {
                width: 66%;
            }

            > .rhs {
                width: 33%;
            }
        }
    }
}

.FullScreenModal {
    .close-x {
        top: 12px;
        right: 12px;
    }
}
