.URLProperty {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;

    .link {
        flex: 1 1 auto;
        padding-left: 1px;
        margin-right: 4px;
        white-space: nowrap;
        overflow: hidden;
        color: rgb(var(--center-channel-color-rgb));
        text-overflow: ellipsis;
        text-decoration: underline rgb(var(--center-channel-color-rgb), 0.5);
    }

    .link:hover {
        background-color: rgb(var(--center-channel-color-rgb), 0.1);
    }

    .IconButton {
        display: none;
        margin: 0 0 0 4px;
        flex: 0 0 24px;

        &:hover {
            background-color: rgb(var(--center-channel-color-rgb), 0.1);
        }
    }

    &:hover {
        .IconButton {
            display: flex;
        }
    }
}

#focalboard-app .URLProperty .link:visited {
    color: rgb(var(--center-channel-color-rgb));
}
