.ScheduleRecipientTimezoneCheckbox {
    display: flex;
    align-items: center;
    gap: 8px;

    &--menu {
        padding: 0 20px 8px;
    }

    &__input {
        margin: 0;
        cursor: pointer;
    }

    &__label {
        margin: 0;
        color: var(--center-channel-color);
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }

    &--modal {
        padding: 0;

        .mm-modal-generic-section-item__fieldset-checkbox {
            font-size: 12px;
            line-height: 16px;
        }
    }
}
