.favorited-teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0;

    &__team {
        position: relative;
        display: inline-block;
        margin-right: auto;
        margin-bottom: 12px;
        margin-left: auto;
    }

    &__team-btn {
        position: relative;
        display: flex;
        overflow: hidden;
        width: 42px;
        height: 42px;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        border-radius: 8px;
        background-color: rgba(var(--sidebar-text-rgb), 0.08);
        color: var(--sidebar-header-text-color);
        cursor: pointer;
        font-weight: bold;
        transform-origin: center center;
        transition: transform 0.1s, background-color 0.2s, border-radius 0.2s;

        &:hover {
            background-color: rgba(var(--sidebar-text-rgb), 0.16);
            border-radius: 16px;
        }

        &:active {
            transform: scale(0.95);
        }

        &--active {
            border-radius: 16px;
            background-color: var(--sidebar-text-active-border);
            color: var(--sidebar-teambar-bg);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__active-indicator {
        position: absolute;
        top: 50%;
        left: -8px;
        width: 4px;
        height: 20px;
        border-radius: 4px;
        background: var(--sidebar-text);
        transform: translateY(-50%);
    }

    &__initials {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.5px;
        text-transform: uppercase;
    }

    &__expand {
        display: flex;
        width: 28px;
        height: 28px;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        border-radius: 4px;
        background: transparent;
        color: rgba(var(--sidebar-text-rgb), 0.64);
        cursor: pointer;
        font-size: 18px;
        transition: all 0.15s ease;

        &:hover {
            background-color: rgba(var(--sidebar-text-rgb), 0.08);
            color: var(--sidebar-text);
        }
    }
}
