.DeleteBoardDialog {
    .dialog {
        @media not screen and (max-width: 975px) {
            max-width: 512px;
            height: max-content;
        }

        > .toolbar {
            padding-bottom: 0;
            justify-content: end;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0 40px;
        max-width: 100%;

        .header {
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            margin-top: 0;
            margin-bottom: 0;
        }

        p.body {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            text-align: center;
            margin: 10px 0;
        }

        .footer {
            display: flex;
            flex-direction: row;
            flex-shrink: 0;
            justify-content: center;
            padding: 20px 0 40px;

            button:first-child {
                margin-right: 10px;
            }
        }
    }
}
