.SidebarSettingsMenu {
    .menu-entry {
        display: flex;
        cursor: pointer;
        flex-direction: row;
        padding: 0 16px 0 8px;
        height: 36px;
        align-items: center;
        padding-left: 20px;
        color: rgba(var(--sidebar-text-rgb), 0.64);
        font-weight: 400;

        &:hover {
            background-color: rgba(var(--sidebar-text-rgb), 0.08);
            display: flex;
        }
    }
}
