@use 'utils/variables';

.annnouncementBar__renewLicense {
    display: block;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    background: var(--button-bg);
    color: var(--button-color);

    span {
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
    }
}
