@charset 'UTF-8';

@media screen and (max-width: 960px) {
    .signup-team__container {
        &.branded {
            display: block;
            margin: 0 auto;
            max-width: 380px;

            .signup__markdown {
                display: none;
            }
        }
    }
    .sidebar--right {
        @include single-transition(all, .5s, ease);
        @include translateX(100%);
        z-index: 5;

        &.move--left {
            @include translateX(0);

            .search-bar__container {
                padding-right: 8px;
            }
        }
    }

    .backstage-content {
        margin: 30px;
        max-width: 100%;
        padding: 0;
    }

    .backstage-sidebar {
        height: auto;
        padding: 30px 15px 0;
        position: relative;
        width: 100%;
    }

    .help__format-text {
        display: none;
    }

    .inner-wrap {
        &.move--left {
            margin-right: 0;

            .channel-header__links {
                position: relative;
                right: auto;
                top: auto;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .second-bar {
        display: none;
    }
}
