.info-toast {
    position: fixed;
    z-index: 99;
    width: fit-content;

    // Position variants
    &--top-left {
        top: 16px;
        left: 16px;

        &.toast-appear {
            transform: translateY(-150px);
        }

        &.toast-appear-active {
            transform: translateY(0);
        }
    }

    &--top-center {
        top: 16px;
        left: 50%;
        transform: translateX(-50%);

        &.toast-appear {
            transform: translate(-50%, -150px);
        }

        &.toast-appear-active {
            transform: translate(-50%, 0);
        }
    }

    &--top-right {
        top: 16px;
        right: 16px;

        &.toast-appear {
            transform: translateY(-150px);
        }

        &.toast-appear-active {
            transform: translateY(0);
        }
    }

    &--bottom-left {
        bottom: 16px;
        left: 16px;

        &.toast-appear {
            transform: translateY(150px);
        }

        &.toast-appear-active {
            transform: translateY(0);
        }
    }

    &--bottom-center {
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);

        &.toast-appear {
            transform: translate(-50%, 150px);
        }

        &.toast-appear-active {
            transform: translate(-50%, 0);
        }
    }

    &--bottom-right {
        right: 16px;
        bottom: 16px;

        &.toast-appear {
            transform: translateY(150px);
        }

        &.toast-appear-active {
            transform: translateY(0);
        }
    }
}

// Animations
.toast-appear {
    opacity: 0;
}

.toast-appear-active {
    opacity: 1;
    transition: all 500ms ease;
}
