.TeamAccessPoliciesTab {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &__title {
        margin: 0;
        color: var(--center-channel-color);
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
    }

    &__add-btn {
        display: flex;
        align-items: center;
        padding: 6px 16px;
        font-size: 13px;
        gap: 4px;

        .icon {
            font-size: 16px;
        }
    }
}
