.DropdownInput {
    .Input_wrapper {
        padding: 0 1px;
    }

    .Input {
        font-size: 14px;
        line-height: 20px;

        &.Input___focus .a11y--focused {
            box-shadow: none;
        }
    }

    .Input_legend {
        margin-left: 8px;
    }
}

.asyncTeamSelectInput__controlContainer {
    .DropDown__control {
        background-color: var(--center-channel-bg);
    }
}

.DropDown__menu {
    background-color: var(--center-channel-bg) !important;
}

.DropDown__single-value {
    color: var(--center-channel-color) !important;
}

.asyncTeamSelectInput__indicatorsContainer {
    margin-right: 8px;

    i {
        color: rgba(var(--center-channel-color-rgb), 0.64);
        font-weight: normal;

        &::before {
            margin: 0;
        }
    }
}

.asyncTeamSelectInput__option > div {
    padding: 10px 24px;
    cursor: pointer;
    line-height: 16px;
}

.asyncTeamSelectInput__option.selected > div {
    background-color: rgba(var(--button-bg-rgb), 0.08);
    color: var(--center-channel-color);
}

.asyncTeamSelectInput__option.focused > div {
    background-color: rgba(var(--center-channel-color-rgb), 0.08);
}
