.GuestBadge {
    display: inline-flex;
    align-items: center;
    margin: 0 10px 0 4px;
}

.GuestBadge__box {
    padding: 2px 4px;
    border: 0;
    background: rgba(var(--center-channel-color-rgb), 0.16);
    border-radius: 2px;
    font-family: inherit;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
}
