.GeneralTab__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;

    >h3 {
        margin: 0;

        span {
            display: inline-flex;
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
        }
    }
}
