.DS_Store
*.swp
*.swo
*.test
examples/interval/interval
examples/interval-vary/interval-vary
examples/interval-many/interval-many
examples/memstats/memstats
examples/rate-limit/rate-limit
examples/custom/custom
