.Accordion {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;

    .accordion-card {
        box-sizing: border-box;
        border: 1px solid rgba(var(--center-channel-color-rgb) 0.08);
        border-radius: 4px;
        background: var(--center-channel-bg);
        box-shadow: var(--elevation-1);

        .accordion-card:not(:first-of-type) {
            border-top: 0;
        }

        .accordion-card-header {
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: flex-start;
            padding: 15px 20px;
            border: 0;
            background-color: var(--center-channel-bg);
            font-size: 18px;
            font-weight: 400;

            &__icon {
                width: fit-content;
                max-width: 15%;
                padding: 5px;
            }

            &__body {
                display: flex;
                width: fit-content;
                max-width: 80%;
                flex-direction: column;
                padding: 5px;

                &__title {
                    width: 100%;
                    margin: 0;
                }

                &__description {
                    width: 100%;
                    margin: 0;
                }
            }

            &__chevron {
                width: fit-content;
                max-width: 5%;
                padding: 5px;
                margin-left: auto;
                opacity: 0.5;
            }
        }

        &.active .accordion-card-header__chevron {
            transform: rotate(-180deg);
        }

        .accordion-card-container {
            overflow: hidden;
            transition: height 0.2s ease-in-out;

            &__content {
                padding: 15px 20px;
                border-top: 1px solid rgba(var(--center-channel-color-rgb) 0.04);
            }
        }
    }
}
