.sidebarHeaderContainer {
    display: flex;
    height: 55px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    gap: 8px;

    button#sidebarTeamMenuButton {
        display: flex;
        overflow: hidden;
        height: 32px;
        align-content: center;
        align-items: center;
        padding: 2px 6px;
        font-family: Metropolis, sans-serif;
        gap: 0;
        text-overflow: ellipsis;
        white-space: nowrap;

        & > span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
