.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
}

.col {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 0;
}

.flex-auto {
    flex: 0 0 auto;
}
