.CloudUsageModal {
    .GenericModal__body {
        color: var(--center-channel-color);
    }

    &__description {
        padding-bottom: 24px;
        margin-bottom: 0;
    }

    .modal-content {
        background-color: var(--center-channel-bg);
    }

    .modal-body {
        color: var(--center-channel-color);
    }

    .modal-body:not(:last-child) {
        // not overridden with classes because the classes needed depend on the context of where this is used
        // and the existing rule is already 5 selectors deep
        padding-bottom: 28px !important;
        border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
    }
}

.cloud-usage-backdrop {
    z-index: 1050;
}
