.BoardPage {
    position: relative;

    .CloudMessage:not(:first-child),
    .VersionMessage:not(:first-child) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    > .error {
        background-color: rgba(230, 192, 192, 0.9);
        text-align: center;
        padding: 10px;
    }

    > .WSConnection {
        background-color: rgba(230, 220, 192, 0.9);
        text-align: center;
        padding: 10px;
    }

    > .WSConnection.error {
        background-color: rgba(230, 192, 192, 0.9);
    }

    > .mobileWarning {
        background-color: rgba(230, 192, 192, 0.9);
        text-align: center;
        padding: 10px;
        display: none;

        div {
            width: 100%;
        }

        .IconButton {
            float: right;
            width: 16px;
            min-width: 16px;
            height: 100%;

            i {
                font-size: 16px;
            }
        }
    }

    @media screen and (max-width: 768px) { 
        .mobileWarning {display: flex;}
    }
}

.Dialog.dialog-back.workspaceSwitcherModal > div > .dialog {
    width: 600px;
    height: 468px;
}
