@charset 'UTF-8';

.dropdown-menu {
    border-radius: $border-rad;

    &.colorpicker {
        min-width: 125px;
        z-index: 2500;
    }

    .fa {
        @include opacity(.6);
        margin-right: 5px;
    }

    .divider {
        @include opacity(.15);

        & + .divider {
            display: none;
        }

        &:last-child {
            display: none;
        }
    }

    div,
    li {
        > a {
            color: inherit;
            text-decoration: none;

            &:focus,
            &:hover {
                color: inherit;
            }
        }
    }
}

.open {
    > .dropdown-menu__content {
        display: block;

        > .dropdown-menu {
            display: block;
        }
    }
}

.dropdown-menu__content {
    display: none;
}
