@charset 'UTF-8';

.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;

    &.colorpicker {
        z-index: 2500;
    }

    .fa {
        @include opacity(.6);
        margin-right: 5px;
    }

    .divider {
        @include opacity(.15);
    }

    > li > a {
        color: inherit;
        padding-left: 10px;
        padding-right: 10px;

        &:focus,
        &:hover {
            color: inherit;
        }
    }
}
