@charset 'UTF-8';

.emoticon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 20px;
    min-height: 1em;
    min-width: 1em;
    vertical-align: middle;
    width: 20px;
}

.emoticon-suggestion {
    @include clearfix;
    cursor: pointer;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

.emoticon-suggestion__image {
    height: 20px;
    margin: 6px 6px 0 5px;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 20px;
}
