@charset 'UTF-8';

.emoticon {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    display: inline-block;
    height: 1.3em;
    vertical-align: text-top;
    width: 1.3em;
}

.emoticon-suggestion {
    @include clearfix;
    cursor: pointer;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

.emoticon-suggestion__image {
    height: 20px;
    margin: 6px 6px 0 5px;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 20px;
}
