@charset 'UTF-8';

.file-preview__container {
    height: 100px;
    margin: 1px 0 10px;
    max-height: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.file-preview {
    @include clearfix;
    border: 1px solid $light-gray;
    display: inline-block;
    height: 100px;
    margin: 0 0 0 10px;
    position: relative;
    width: 120px;

    &:hover {
        .file-preview__remove {
            &:after {
                @include opacity(1);
            }
        }
    }

    &:first-child {
        margin-left: 0;
    }

    .file-icon {
        border: none;
        box-shadow: none;
        height: 100%;
        outline: none;
        width: 100%;
    }

    .spinner {
        height: 32px;
        left: 50%;
        margin-left: -16px;
        margin-top: -16px;
        position: absolute;
        top: 50%;
        width: 32px;
    }
}

.file-preview__image {
    display: block;
    height: auto;
    max-width: 100%;
}

.file-preview__remove {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &:after {
        @include opacity(0);
        @include alpha-property(background, $black, .4);
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    i {
        color: $white;
        cursor: pointer;
        font-size: 16px;
        opacity: inherit;
        position: absolute;
        right: 5px;
        text-shadow: 0 0 3px alpha-color($black, .7);
        top: 5px;
        z-index: 5;
    }
}

.image-comment {
    background-position: left top;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}


.file-icon {
    @include border-radius($border-rad);
    @include box-shadow(0 1px 6px $gray);
    border: 1px solid $light-gray;
    display: inline-block;
    height: 65px;
    margin-top: 5px;
    outline: 2px solid $white;
    width: 55px;

    &.audio {
        @include file-icon('../images/icons/audio.png');
    }

    &.video {
        @include file-icon('../images/icons/video.png');
    }

    &.ppt {
        @include file-icon('../images/icons/ppt.png');
    }

    &.generic {
        @include file-icon('../images/icons/generic.png');
    }

    &.code {
        @include file-icon('../images/icons/code.png');
    }

    &.excel {
        @include file-icon('../images/icons/excel.png');
    }

    &.word {
        @include file-icon('../images/icons/word.png');
    }

    &.pdf {
        @include file-icon('../images/icons/pdf.png');
    }

    &.patch {
        @include file-icon('../images/icons/patch.png');
    }

    &.image {
        @include file-icon('../images/icons/image.png');
    }
}

.pdf-preview-spacer {
    height: 5px;
}

.pdf-max-pages {
    background: $white;
    bottom: 0;
    display: block;
    left: 0;
    position: relative;
    width: 100%;

    span {
        @include border-radius(3px);
        background: alpha-color($black, .8);
        bottom: 15px;
        color: $white;
        display: inline-block;
        height: 3em;
        line-height: 3em;
        padding: 0 1.5em;
        position: relative;
    }
}

.post {
    .post-image__single {
        .post-image__column {
            width: auto;

            .post-image__details {
                font-size: .9em;
            }

            .post-image {
                height: auto;
                line-height: inherit;

                img {
                    @include box-shadow(none);
                    border: none;
                    max-height: 400px;
                    max-width: 500px;
                    outline-width: 1px;
                }
            }
        }
    }

    .post-image__column {
        float: left;
        margin: 5px 1em 5px 0;
        text-align: center;
        width: 110px;

        .post-image__thumbnail {
            outline: none;
        }

        .post-image {
            height: 80px;
            line-height: 80px;

            img {
                @include box-shadow(0 1px 6px $gray);
                border: 1px solid $light-gray;
                margin-bottom: 5px;
                max-height: 65px;
                max-width: 100px;
                outline: 2px solid $white;
            }
        }

        .post-image__details {
            font-size: .85em;

            a {
                color: inherit;
                text-decoration: none;

                &:active,
                &:hover {
                    color: inherit;
                }
            }
        }
    }
}

.post-image__load {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 150px;
    height: 150px;
    width: 100%;
}

.post-image-single__load {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 400px;
    height: 400px;
    width: 100%;
}

.file-details__container {
    @include display-flex;
    background: $white;

    .file-details {
        height: 270px;
        padding: 14px;
        text-align: left;
        vertical-align: top;
        width: 320px;

        .file-details__name {
            color: alpha-color($black, .9);
            font-size: 16px;
            margin: 5px 0;
            word-break: break-word;
        }

        .file-details__info {
            color: alpha-color($black, .5);
        }
    }

    .file-details__preview {
        border-right: 1px solid $light-gray;
        height: 270px;
        vertical-align: center;
        width: 320px;

        // helper to center the image icon in the preview window
        .file-details__preview-helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}


.file-playback__controls {
    @include single-transition(opacity, .6s);
    bottom: 0;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    right: 5px;
    transition: opacity .6s;
    z-index: 2;

    &.stop {
        @include opacity(0);
    }
}

.view-image__loading {
    background: $black;
    min-height: 100px;
}