@charset 'UTF-8';

.file-preview__container {
    height: 100px;
    margin: 1px 0 10px;
    max-height: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.file-preview {
    @include clearfix;
    border: 1px solid $light-gray;
    display: inline-block;
    height: 100px;
    margin: 0 0 0 10px;
    position: relative;
    width: 120px;

    &:first-child {
        margin-left: 0;
    }

    .spinner {
        height: 32px;
        left: 50%;
        margin-left: -16px;
        margin-top: -16px;
        position: absolute;
        top: 50%;
        width: 32px;
    }
}

.file-preview__remove {
    background: alpha-color($black, .5);
    border-radius: 0 0 0 2px;
    height: 28px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 28px;

    i {
        color: $white;
        cursor: pointer;
        font-size: 16px;
        line-height: 29px;
        position: relative;
        right: auto;
        text-shadow: 0 0 3px alpha-color($black, .7);
        top: auto;
        z-index: 5;
    }
}

.image-comment {
    background-position: left top;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}


.file-icon {
    height: 100%;
    width: 100%;

    &.audio {
        @include file-icon('../images/icons/audio.png');
    }

    &.video {
        @include file-icon('../images/icons/video.png');
    }

    &.ppt {
        @include file-icon('../images/icons/ppt.png');
    }

    &.generic {
        @include file-icon('../images/icons/generic.png');
    }

    &.code {
        @include file-icon('../images/icons/code.png');
    }

    &.excel {
        @include file-icon('../images/icons/excel.png');
    }

    &.word {
        @include file-icon('../images/icons/word.png');
    }

    &.pdf {
        @include file-icon('../images/icons/pdf.png');
    }

    &.patch {
        @include file-icon('../images/icons/patch.png');
    }

    &.image {
        @include file-icon('../images/icons/image.png');
    }
}

.pdf-preview-spacer {
    height: 5px;
}

.pdf-max-pages {
    background: $white;
    bottom: 0;
    display: block;
    left: 0;
    position: relative;
    width: 100%;

    span {
        @include border-radius(3px);
        background: alpha-color($black, .8);
        bottom: 15px;
        color: $white;
        display: inline-block;
        height: 3em;
        line-height: 3em;
        padding: 0 1.5em;
        position: relative;
    }
}

.post-image__column {
    border: 1px solid alpha-color($black, .2);
    float: left;
    height: 100px;
    margin: 5px 10px 5px 0;
    position: relative;
    width: 240px;

    &--placeholder {
        visibility: hidden;
    }
}

.post-image__load {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 100%;
    width: 100%;
}

.post-image {
    background-color: $white;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;

    &.small {
        background-position: center;
    }

    &.normal {
        background-position: top left;
    }

    .spinner {
        .file__loading {
            left: 50%;
            margin-left: -16px;
            margin-top: -16px;
            position: absolute;
            top: 50%;
        }
    }

    .file__loaded {
        max-width: initial;

        &.landscape,
        &.quadrat {
            height: 100px;
        }

        &.portrait {
            width: 120px;
        }
    }
}

.post-image__thumbnail {
    @include cursor(zoom-in);
    float: left;
    height: 100%;
    width: 50%;
}

.post-image__details {
    @include clearfix;
    background: $white;
    border-left: 1px solid $light-gray;
    color: alpha-color($black, .8);
    float: left;
    font-size: 13px;
    height: 100%;
    padding: 7px;
    width: 50%;
    word-break: break-word;

    .post-image__name {
        display: block;
        margin-bottom: 3px;
    }

    .post-image__download {
        @include opacity(.7);
        cursor: pointer;
        display: inline-block;
        padding-right: 7px;
    }

    .post-image__type {
        @include opacity(.6);
    }

    .post-image__size {
        @include opacity(.6);
        margin-left: 4px;
    }
}

.file-details__container {
    @include display-flex;
    background: $white;

    .file-details {
        height: 270px;
        padding: 14px;
        text-align: left;
        vertical-align: top;
        width: 320px;

        .file-details__name {
            color: alpha-color($black, .9);
            font-size: 16px;
            margin: 5px 0;
            word-break: break-word;
        }

        .file-details__info {
            color: alpha-color($black, .5);
        }
    }

    .file-details__preview {
        border-right: 1px solid $light-gray;
        height: 270px;
        vertical-align: center;
        width: 320px;

        // helper to center the image icon in the preview window
        .file-details__preview-helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}

.file-playback__controls {
    @include single-transition(opacity, .6s);
    bottom: 0;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    right: 5px;
    transition: opacity .6s;
    z-index: 2;

    &.stop {
        @include opacity(0);
    }
}

.view-image__loading {
    background: $black;
    min-height: 100px;
}
