@charset 'UTF-8';

.prompt {
    background: $white;
    border: 1px solid $light-gray;
    margin: 50px auto;
    max-width: 90%;
    padding: 1em 2em 0;
    width: 600px;

    .prompt__heading {
        display: table;
        font-size: em(18px);
        line-height: normal;
        margin: 1em 0;
        table-layout: fixed;
        width: 100%;

        > div {
            display: table-cell;
            vertical-align: top;

            &:first-child {
                width: 70px;
            }
        }

        img {
            margin-right: 15px;
        }
    }

    .prompt__allow {
        font-size: em(20px);
        margin: 1em 0;
    }

    .prompt__buttons {
        border-top: 1px solid $light-gray;
        padding: 1.5em 0;
        text-align: right;
    }
}
