@charset 'UTF-8';

::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    @include border-radius($border-rad * 2);
    background: rgba(0, 0, 0, 0.4);
}

body{
    scrollbar-face-color: rgba(0, 0, 0, 0.1);
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color:#7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: rgba(0, 0, 0, 0.1);
    scrollbar-arrow-color: #C1C1D1;
}