@charset 'UTF-8';

.suggestion-list {
    @extend %popover-box-shadow;
    width: 100%;
    z-index: 100;

    .suggestion-list__item {
        &:hover {
            background: alpha-color($black, .1);
        }
    }
}

.suggestion-list--top {
    bottom: 100%;
    position: absolute;
}

.suggestion-list--bottom {
    height: 0;
    position: relative;
}

.suggestion-list__content {
    -webkit-overflow-scrolling: touch;
    background-color: $white;
    border: $border-gray;
    max-height: 292px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 5px;
    width: 100%;

    .command {
        border-bottom: 1px solid $light-gray;
        font-size: .95em;
        line-height: 24px;
        padding: 5px 10px 8px;
        position: relative;
        width: 100%;
        z-index: 101;

        .command__desc {
            @include opacity(.5);
            line-height: normal;
            margin-left: 5px;
        }
    }
}

.suggestion-list__content--top {
    bottom: 0;
    position: absolute;
}

.suggestion-list--bottom {
    position: relative;
}

.suggestion-loader {
    margin: 6px 11px;
}

.suggestion-list__divider {
    line-height: 21px;
    margin: 5px 0 5px 5px;
    position: relative;

    &:first-child {
        margin-top: 5px;
    }

    > span {
        display: inline-block;
        font-size: .9em;
        padding: 0 10px 0 5px;
        position: relative;
        z-index: 5;
    }

    &:before {
        @include opacity(.2);
        background: $dark-gray;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: 11px;
        width: 100%;
    }
}
