@charset 'UTF-8';

.webrtc__user-profile {
    @include webrtc-button;
    text-align: center;

    #webrtc-btn {
        display: inherit;
    }
}

.webrtc__header {
    @include webrtc-button;
    float: left;
    margin-right: 10px;
    position: relative;
    top: 13px;
}

.webrtc__error {
    .has-error {
        padding: 0 20px;
        text-align: center;

        .control-label {
            @include border-radius(3px);
            background: #f2f2f2;
            color: #a94442;
            font-size: 14px;
            font-weight: normal;
            margin: 1em 0 -1em;
            padding: .7em 1em;
            width: 100%;
            font-size: .95em;

            &:before {
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                color: #a94442;
                content: '\F071';
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                margin-right: 4px;
                text-rendering: auto;
                transform: translate(0, 0);
            }
        }
    }
}

#videos {
    font-size: 0;
    left: 0;
    pointer-events: none;
    position: relative;
    text-align: center;
    top: 5px;
    transition: all 1s;
    width: 100%;

    #main-video video {
        -moz-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        background-color: rgba(239, 239, 239, 0.4);
        border: 1px solid alpha-color($black, .2);
        height: 100%;
        max-height: 100%;
        max-width: 1280px;
        object-fit: cover;
        transform: scale(-1, 1);
        transition: opacity 1s;
        width: 98%;
    }

    #local-video {
        border: 1px solid gray;
        max-width: 30%;
        opacity: 1;
        position: absolute;
        right: 12px;
        top: 10px;
        transition: opacity 1s;
        z-index: 2;

        video {
            -moz-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
            -o-transform: scale(-1, 1);
            -webkit-transform: scale(-1, 1);
            height: 100%;
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
            transform: scale(-1, 1);
            transition: opacity 1s;
            width: 100%;
        }
    }

    .webrtc__local-image {
        background-color: $black;
        border: 1px solid $gray;
        opacity: 1;
        overflow: hidden;
        position: absolute;
        right: 10px;
        top: 10px;
        transition: opacity 1s;
        width: 30%;
        z-index: 2;

        img {
            border-radius: 50%;
            height: 64px;
            max-width: 100%;
            width: 64px;
        }
    }

    .webrtc__remote-image {
        background-color: $black;
        border: 1px solid alpha-color($black, .2);
        height: 100%;
        max-height: 100%;
        max-width: 98%;
        object-fit: cover;
        overflow: hidden;
        width: 98%;

        img {
            border-radius: 50%;
            height: 100%;
            max-height: 256px;
            max-width: 256px;
            width: 100%;
        }
    }

    .webrtc__remote-mute {
        bottom: 0;
        position: absolute;
        right: 10px;
        z-index: 9999;
    }
}

.webrtc-buttons {
    margin-top: 1.2em;
    text-align: center;

    .webrtc-icons__call {
        border-radius: 48px;

        circle {
            fill: $button--ready;
        }

        &:hover {
            cursor: pointer;

            circle {
                fill: darken($button--ready, 5%);
            }
        }

        &[disabled] {
            circle {
                fill: $video-circle-offline;
            }
        }
    }

    .webrtc-icons__cancel {
        border-radius: 48px;

        circle {
            fill: $button--cancel;
        }

        &:hover {
            cursor: pointer;

            circle {
                fill: darken($button--cancel, 5%);
            }
        }
    }
}

.webrtc-icons {
    &.active {
        svg {
            transform: translateY(0);
        }
    }

    svg {
        border-radius: 48px;
        margin: 5px;

        path {
            &.on {
                display: block;
            }

            &.off {
                display: none;
            }
        }
    }
}

.connecting {
    position: absolute;
    top: 0;
    width: 100%;

    .loading-screen {
        background-color: rgba(0,0,0, .3);
        color: $connecting;
        margin-left: 5px;
        padding: 20px;
        position: relative;
        top: 75px;
        width: 97%;

        .loading__content {
            .round {
                background: $connecting !important;
            }
        }
    }
}

.webrtc-notification {
    background-color: $webrtc-notification-bg;
    color: $white;
    left: calc(50% - 200px);
    padding: 20px 30px 10px;
    position: absolute;
    text-align: center;
    top: calc(50% - 115px);
    width: 400px;
    z-index: 99999;

    .webrtc-buttons {
        margin-top: 1.2em;
        text-align: center;

        .webrtc-icons__pickup {
            circle {
                fill: $button--pickup;
            }

            &:hover {
                cursor: pointer;

                circle {
                    fill: darken($button--pickup, 3%);
                }
            }
        }
    }
}

.sidebar--right--expanded {
    #videos {
        .webrtc__remote-mute {
            right: calc(12%);
        }

        #local-video {
            max-width: 22%;
            right: 18px;
        }
    }
}
