
{{define "admin_console"}}
<!DOCTYPE html>
<html>
{{template "head" . }}
<body>

<div class='container-fluid'>
    <div id="error_bar"></div>
    <div id="admin_controller" ></div>
    <div id="select_team_modal"></div>
</div>

<script>
    window.setup_admin_console_page();
    
    $(document).ready(function(){
        $('.nav__menu-item').on('click', function(e){
            e.preventDefault();
            $(this).closest('.sidebar--collapsable').find('.nav__menu-item').removeClass('active');
            $(this).addClass('active');
            $(this).closest('.sidebar--collapsable').find('.nav__sub-menu').addClass('hide');
            $(this).next('.nav__sub-menu').removeClass('hide');
        });

        $('.nav__sub-menu a').on('click', function(e){
            e.preventDefault();
            $(this).closest('.nav__sub-menu').find('a').removeClass('active');
            $(this).addClass('active');
        });

        $('.nav__sub-menu-item').on('click', function(e){
            e.preventDefault();
            $(this).closest('.sidebar--collapsable').find('.nav__inner-menu').addClass('hide');
            $(this).closest('li').next('li').find('.nav__inner-menu').removeClass('hide');
            $(this).closest('li').next('li').find('.nav__inner-menu li:first a').addClass('active');
        });

        $('.nav__inner-menu a').on('click', function(e){
            $(this).closest('.nav__inner-menu').closest('li').prev('li').find('a').addClass('active');
        });

        $('.nav__sub-menu .menu__close').on('click', function(e){
            var menuItem = $(this).closest('li');
            menuItem.next('li').remove();
            menuItem.remove();
        });

        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover()

    });
</script>
</body>
</html>
{{end}}
