{{define "authorize"}}
<html>
{{template "head" . }}
<body>
    <div class="container-fluid">
        <div class="oauth-prompt">
            <div class="prompt__heading">
                <div class="prompt__app-icon">
                    <img src="/static/images/icon50x50.png" width="50" height="50" alt="">
                </div>
                <div class="text">{{.Props.AuthorizeTitle}}</div>
            </div>
            <p>{{.Html.AuthorizeInfo}}</p>
            <h2 class="prompt__allow">{{.Html.AuthorizeQuestion}}</h2>
            <div class="prompt__buttons">
                <input type="button" class="btn btn-link" value="{{.Props.AuthorizeDeny}}">
                <input type="button" class="btn btn-primary" value="{{.Props.AuthorizeAllow}}">
            </div>
        </div>
    </div>
    <script>
        window.setup_authorize_page('{{.Props}}');
    </script>
</body>
</html>
{{end}}
