
{{define "channel"}}
<!DOCTYPE html>
<html>
{{template "head" . }}
<body>
  <div id="error_bar"></div>
  <div id="channel_view" class="channel-view"></div>
  <div id="channel_loader"></div>
  <div id="post_mention_tab"></div>
  <div id="reply_mention_tab"></div>
  <div id="edit_mention_tab"></div>
  <div id="get_link_modal"></div>
  <div id="user_settings_modal"></div>
  <div id="import_theme_modal"></div>
  <div id="team_settings_modal"></div>
  <div id="invite_member_modal"></div>
  <div id="edit_channel_modal"></div>
  <div id="delete_channel_modal"></div>
  <div id="rename_channel_modal"></div>
  <div id="rename_team_modal"></div>
  <div id="edit_post_modal"></div>
  <div id="delete_post_modal"></div>
  <div id="more_channels_modal"></div>
  <div id="new_channel_modal"></div>
  <div id="post_deleted_modal"></div>
  <div id="channel_notifications_modal"></div>
  <div id="team_members_modal"></div>
  <div id="direct_channel_modal"></div>
  <div id="channel_info_modal"></div>
  <div id="access_history_modal"></div>
  <div id="activity_log_modal"></div>
  <div id="removed_from_channel_modal"></div>
  <div id="register_app_modal"></div>
<script>
window.setup_channel_page({{ .Props }}, {{ .Team }}, {{ .Channel }}, {{ .User }});
  $('body').tooltip( {selector: '[data-toggle=tooltip]'} );
  if($(window).height() > 1200){
    $('.modal-body').css('max-height', 1000);
  }
  else {
    $('.modal-body').css('max-height', $(window).height() - 200);
  }
  $('.modal-body').perfectScrollbar();
</script>
</body>
</html>
{{end}}
