
{{define "channel"}}
<!DOCTYPE html>
<html>
{{template "head" . }}
<body>
  <div id="channel_view" class='channel-view'></div>
<script>
  window.setup_channel_page({{ .Props }}, {{ .Team }}, {{ .Channel }}, {{ .Preferences }});
  $('body').tooltip( {selector: '[data-toggle=tooltip]'} );
  var modals = $('.modal-body').not('.edit-modal-body');
  if($(window).height() > 1200){
    modals.css('max-height', 1000);
  } else {
    modals.css('max-height', $(window).height() - 200);
  }
  modals.perfectScrollbar();
</script>
</body>
</html>
{{end}}
