{{define "claim_account"}}
<!DOCTYPE html>
<html>
{{template "head" . }}
<body class="white">
	<div class="container-fluid">
		<div class="inner__wrap">
			<div class="row content">
				<div class="signup-header">
					<a href="/{{.Props.TeamName}}">{{.Props.TeamDisplayName}}</a>
				</div>
				<div class="col-sm-12">
					<div class="signup-team__container">
						<img class="signup-team-logo" src="/static/images/logo.png" />
						<div id="claim"></div>
					</div>
				</div>
				<div class="footer-push"></div>
			</div>
			<div class="row footer">
				{{template "footer" . }}
			</div>
		<div>
	</div>
	<script>
		window.setup_claim_account_page({{ .Props }});
	</script>
</body>
</html>
{{end}}
