{{define "home"}}
<!DOCTYPE html>
<html>
{{template "head" . }}
<body>
  <div class="container-fluid">
    <div class="sidebar--right" id="sidebar-right"></div>
    <div class="sidebar--left" id="sidebar-left"></div>
    <div class="inner__wrap">
        <div class="row header">
          <div id="navbar"></div>
        </div>
        <div class="row main">
          <div class="hidden-xs" id="sidebar"></div>
          <div class="app__content"></div>
        </div>
    </div>
  </div>
  <script>
	window.setup_home_page({{ .Props }});
  </script>
</body>
</html>
{{end}}
