{{define "signup_team_complete"}}
<!DOCTYPE html>
<html>
{{template "head" . }}
<body class="white">
    <div class="container-fluid">
        <div class="inner__wrap">
            <div class="row content">
                <div class="col-sm-12">
                    <div class="signup-team__container">
                        <div id="signup-team-complete"></div>
                    </div>
                </div>
                <div class="footer-push"></div>
            </div>
            <div class="row footer">
                {{template "footer" . }}
            </div>
        </div>
    </div>
    <script>
window.setup_signup_team_complete_page('{{.Props.Email}}', '{{.Props.DisplayName}}', '{{.Props.Data}}', '{{.Props.Hash}}');
    </script>
</body>
</html>
{{end}}
