{{define "signup_team_confirm"}}
<!DOCTYPE html>
<html>
{{template "head" . }}
<body class="white">
    <div class="container-fluid">
        <div class="inner__wrap">
            <div class="row content">
                <div class="col-sm-12">
                    <div class="signup-team__container">
                        <h3>{{.Props.SignupTitle}}</h3>
                        <p>{{.Html.SignupInfo}}</p>
                    </div>
                </div>
            </div>
            <div class="row footer">
                {{template "footer" . }}
            </div>
        </div>
    </div>
</body>
</html>
{{end}}
