{{define "signup_user_complete"}}
<!DOCTYPE html>
<html>
{{template "head" . }}
<body class="white">
    <div class="container-fluid">
        <div class="inner__wrap">
            <div class="row content">
                <div class="col-sm-12">
                    <div class="signup-team__container">
                        <div id="signup-user-complete"></div>
                    </div>
                </div>
                <div class="footer-push"></div>
            </div>
            <div class="row footer">
                {{template "footer" . }}
            </div>
        </div>
    </div>
    <script>
    window.setup_signup_user_complete_page('{{.Props.Email}}', '{{.Props.TeamName}}', '{{.Props.TeamDisplayName}}', '{{.Props.TeamId}}', '{{.Props.Data}}', '{{.Props.Hash}}', '{{.Props.AuthServices}}');
    </script>
</body>
</html>
{{end}}
