{{define "signup_team"}}
<!DOCTYPE html>
<html>
{{template "head" . }}
<body class="white">
    <div class="container-fluid">
        <div class="inner__wrap">
            <div class="row content">
                <div class="col-sm-12">
                    <div class="signup-team__container">
                        <img class="signup-team-logo" src="/static/images/logo.png" />
                        <h1>{{ .SiteName }}</h1>
                        <h4 class="color--light">All team communication in one place, searchable and accessible anywhere</h4>
                        <div id="signup-team"></div>
                    </div>
                </div>
                <div class="footer-push"></div>
            </div>
            <div class="row footer">
                {{template "footer" . }}
            </div>
        </div>
    </div>
    <script>
window.setup_signup_team_page();
    </script>
</body>
</html>
{{end}}
