.DeleteConfirmationModal {
    .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 600px;
        border: 1 px solid rgba(var(--center-channel-color-rgb), 0.08);
        border-radius: 12px;
        margin: auto;
        transform: translate(-50%, -50%) !important;
    }

    .modal-content {
        border-radius: 12px;
    }

    .modal-header {
        .close {
            &:hover {
                background-color:
                    rgba(
                        var(--center-channel-color-rgb),
                        0.08
                    );
                color: rgba(var(--center-channel-color-rgb), 0.72);
            }

            &:active {
                background-color: rgba(var(--button-bg-rgb), 0.08);
                color: var(--button-bg);
            }

            top: 26px;
            right: 26px;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            color: rgba(var(--center-channel-color-rgb), 0.56) !important;
            font-family:
                'Open Sans',
                sans-serif;
            font-size: 32px;
            font-weight: 400;
        }

        .title {
            font-family: Metropolis, sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            text-align: left;
        }

        display: block;
        min-height: 48px;
        padding-top: 26px;
        padding-bottom: 0;
        padding-left: 32px;
        border: 0;
        border-radius: 12px;
        background: var(--center-channel-bg) !important;
        color: var(--center-channel-color);
    }

    .modal-body {
        overflow: hidden;
        width: 100%;
        flex-direction: column;
        padding-top: 24px;
        padding-right: 32px;
        padding-bottom: 26px;
        padding-left: 32px;
        color: var(--center-channel-color, #3f4350);
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .modal-footer {
        padding: 24px 32px;
        border-radius: 12px;
        border-top: none;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;

        .btn-cancel {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            background: var(--button-bg-8, rgba(28, 88, 217, 0.08));
            color: var(--button-bg, #1c58d9);
        }

        .btn-delete {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            margin-left: 8px;
            background: var(--denim-status-do-not-disturb, #d24b4e);
            color: var(--button-color, #fff);
        }
    }
}
