.IPFiltering {
    height: 100%;

    .admin-console-save {
        .btn.btn-primary:disabled {
            color: rgba(var(--center-channel-color-rgb), 0.32) !important;
        }
    }

    .MainPanel {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 20px;

        .EnableSectionContent {
            display: inline-flex;
            width: 920px;
            height: 92px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 24px 32px;
            border: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
            border-radius: 4px;
            background-color: var(--center-channel-bg);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
            gap: 24px;

            .TitleSubtitleContent {
                display: inline-flex;
                align-items: flex-start;
                align-self: stretch;
                justify-content: flex-start;
                gap: 32px;

                .TitleSubtitle {
                    flex: 1 1 0;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 24px;

                    .Title {
                        color: #3f4350;
                        font-family: Metropolis;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24px;
                        word-wrap: break-word;
                    }

                    .Subtitle {
                        align-self: stretch;
                        color: #3f4350;
                        font-family: 'Open Sans';
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        word-wrap: break-word;
                    }
                }

                .SwitchSelector {
                    width: 32px;
                    height: 20px;
                    flex-shrink: 0;
                }
            }
        }
    }

    .error-message {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--error-text, #d24b4e);
        font-size: 14px;
        line-height: 20px;

        >svg {
            margin-right: 7px;
            margin-left: 7px;
        }

        .saving-message-description {
            margin-left: 16px;
            color: rgba(var(--center-channel-color-rgb), 0.72) !important;
        }
    }
}
