@use 'utils/variables';

.FeatureDiscovery {
    display: grid;
    padding: 20px;
    border-radius: 8px;
    background: variables.$white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
}

.FeatureDiscovery_imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.FeatureDiscovery_copyWrapper,
.FeatureDiscovery_imageWrapper {
    padding: 20px 0 20px 20px; 
    grid-template-columns: repeat(2, 1fr);
}

.FeatureDiscovery_image {
    height: 220px;
}

.FeatureDiscovery_title {
    padding-bottom: 24px;
    font-family: Metropolis, sans-serif;
    font-size: 24px;
    line-height: 32px;
}

.FeatureDiscovery_copy {
    padding-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
}
