  <Conversation Perspective="the Channel Four">
    <RoomID>public - channel_four_name - %s</RoomID>
    <StartTimeUTC>%d</StartTimeUTC>
    <ParticipantEntered>
      <LoginName>user8@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user8@email</CorporateEmailID>
    </ParticipantEntered>
    <ParticipantLeft>
      <LoginName>user8@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user8@email</CorporateEmailID>
    </ParticipantLeft>
    <EndTimeUTC>%d</EndTimeUTC>
  </Conversation>
