<?xml version="1.0" encoding="UTF-8"?>
<FileDump xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Conversation Perspective="the Channel Two">
    <RoomID>private - channel_two_name - %s</RoomID>
    <StartTimeUTC>%d</StartTimeUTC>
    <ParticipantEntered>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user1@email</CorporateEmailID>
    </ParticipantEntered>
    <ParticipantEntered>
      <LoginName>user4@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user4@email</CorporateEmailID>
    </ParticipantEntered>
    <Message>
      <MessageId>%s</MessageId>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <Content>message 3</Content>
    </Message>
    <FileTransferStarted>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_3.txt</FileName>
    </FileTransferStarted>
    <FileTransferEnded>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_3.txt</FileName>
      <Status>Completed</Status>
    </FileTransferEnded>
    <Message>
      <MessageId>%s</MessageId>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <Content>message 4</Content>
    </Message>
    <FileTransferStarted>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_4.txt</FileName>
    </FileTransferStarted>
    <FileTransferEnded>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_4.txt</FileName>
      <Status>Completed</Status>
    </FileTransferEnded>
    <Message>
      <MessageId>%s</MessageId>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <Content>message 5</Content>
    </Message>
    <FileTransferStarted>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_5.txt</FileName>
    </FileTransferStarted>
    <FileTransferEnded>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_5.txt</FileName>
      <Status>Completed</Status>
    </FileTransferEnded>
    <ParticipantLeft>
      <LoginName>user4@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user4@email</CorporateEmailID>
    </ParticipantLeft>
    <ParticipantLeft>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user1@email</CorporateEmailID>
    </ParticipantLeft>
    <EndTimeUTC>%d</EndTimeUTC>
  </Conversation>
</FileDump>
