<?xml version="1.0" encoding="UTF-8"?>
<FileDump xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Conversation Perspective="the Channel Two">
    <RoomID>private - channel_two_name - %s</RoomID>
    <StartTimeUTC>%d</StartTimeUTC>
    <ParticipantEntered>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user1@email</CorporateEmailID>
    </ParticipantEntered>
    <ParticipantEntered>
      <LoginName>user2@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user2@email</CorporateEmailID>
    </ParticipantEntered>
    <Message>
      <MessageId>%s</MessageId>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <Content>message 1</Content>
    </Message>
    <Message>
      <MessageId>%s</MessageId>
      <LoginName>user2@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <Content>message 2</Content>
    </Message>
    <ParticipantLeft>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user1@email</CorporateEmailID>
    </ParticipantLeft>
    <ParticipantLeft>
      <LoginName>user2@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user2@email</CorporateEmailID>
    </ParticipantLeft>
    <EndTimeUTC>%d</EndTimeUTC>
  </Conversation>
</FileDump>
