  <Conversation Perspective="the Channel Two">
    <RoomID>private - channel_two_name - %s</RoomID>
    <StartTimeUTC>%d</StartTimeUTC>
    <ParticipantEntered>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user1@email</CorporateEmailID>
    </ParticipantEntered>
    <ParticipantEntered>
      <LoginName>user5@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user5@email</CorporateEmailID>
    </ParticipantEntered>
    <ParticipantEntered>
      <LoginName>user6@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user6@email</CorporateEmailID>
    </ParticipantEntered>
    <Message>
      <MessageId>%s</MessageId>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <Content>message 6</Content>
    </Message>
    <FileTransferStarted>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_6.txt</FileName>
    </FileTransferStarted>
    <FileTransferEnded>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_6.txt</FileName>
      <Status>Completed</Status>
    </FileTransferEnded>
    <Message>
      <MessageId>%s</MessageId>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <Content>message 7</Content>
    </Message>
    <FileTransferStarted>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_7.txt</FileName>
    </FileTransferStarted>
    <FileTransferEnded>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_7.txt</FileName>
      <Status>Completed</Status>
    </FileTransferEnded>
    <Message>
      <MessageId>%s</MessageId>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <Content>message 8</Content>
    </Message>
    <FileTransferStarted>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_8.txt</FileName>
    </FileTransferStarted>
    <FileTransferEnded>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_8.txt</FileName>
      <Status>Completed</Status>
    </FileTransferEnded>
    <ParticipantLeft>
      <LoginName>user5@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user5@email</CorporateEmailID>
    </ParticipantLeft>
    <ParticipantLeft>
      <LoginName>user6@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user6@email</CorporateEmailID>
    </ParticipantLeft>
    <ParticipantLeft>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user1@email</CorporateEmailID>
    </ParticipantLeft>
    <EndTimeUTC>%d</EndTimeUTC>
  </Conversation>
