  <Conversation Perspective="the Channel Two">
    <RoomID>private - channel_two_name - %s</RoomID>
    <StartTimeUTC>%d</StartTimeUTC>
    <ParticipantEntered>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user1@email</CorporateEmailID>
    </ParticipantEntered>
    <ParticipantEntered>
      <LoginName>user2@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user2@email</CorporateEmailID>
    </ParticipantEntered>
    <ParticipantEntered>
      <LoginName>user3@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user3@email</CorporateEmailID>
    </ParticipantEntered>
    <Message>
      <MessageId>%s</MessageId>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <Content>message 0</Content>
    </Message>
    <FileTransferStarted>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_0.txt</FileName>
    </FileTransferStarted>
    <FileTransferEnded>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_0.txt</FileName>
      <Status>Completed</Status>
    </FileTransferEnded>
    <Message>
      <MessageId>%s</MessageId>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <Content>message 1</Content>
    </Message>
    <FileTransferStarted>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_1.txt</FileName>
    </FileTransferStarted>
    <FileTransferEnded>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_1.txt</FileName>
      <Status>Completed</Status>
    </FileTransferEnded>
    <Message>
      <MessageId>%s</MessageId>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <Content>message 2</Content>
    </Message>
    <FileTransferStarted>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_2.txt</FileName>
    </FileTransferStarted>
    <FileTransferEnded>
      <LoginName>user1@email</LoginName>
      <DateTimeUTC>%d</DateTimeUTC>
      <UserFileName></UserFileName>
      <FileName>path/to/attachments/file_2.txt</FileName>
      <Status>Completed</Status>
    </FileTransferEnded>
    <ParticipantLeft>
      <LoginName>user2@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user2@email</CorporateEmailID>
    </ParticipantLeft>
    <ParticipantLeft>
      <LoginName>user3@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user3@email</CorporateEmailID>
    </ParticipantLeft>
    <ParticipantLeft>
      <LoginName>user1@email</LoginName>
      <UserType>user</UserType>
      <DateTimeUTC>%d</DateTimeUTC>
      <CorporateEmailID>user1@email</CorporateEmailID>
    </ParticipantLeft>
    <EndTimeUTC>%d</EndTimeUTC>
  </Conversation>
