--------------------
Conversation Summary
--------------------

* Channel: the Channel Two
* Started: %[1]s
* Ended: %[2]s
* Duration: 0 seconds

Username
UserType
Email Joined Left Duration Messages @user1 user user1@email %[3]s %[4]s 0 seconds 3 @user4 user user4@email %[5]s %[6]s 0 seconds 0

--------
Messages
--------

* %[7]s @user1 user (user1@email): message 3
* %[7]s @user1 user (user1@email): Uploaded file
* %[8]s @user1 user (user1@email): message 4
* %[8]s @user1 user (user1@email): Uploaded file
* %[9]s @user1 user (user1@email): message 5
* %[9]s @user1 user (user1@email): Uploaded file
