--------------------
Conversation Summary
--------------------

* TeamId: %[14]s
* TeamName: %[15]s
* TeamDisplayName: %[16]s
* ChannelId: %[13]s
* ChannelName: channel_two_name
* ChannelDisplayName: %[1]s
* Started: %[2]s
* Ended: %[3]s
* Duration: 0 seconds

UserId
Username
UserType
Email Joined Left Duration Messages %[17]s @user1 user user1@email %[4]s %[5]s 0 seconds 3 %[18]s @user2 user user2@email %[6]s %[7]s 0 seconds 0 %[19]s @user3 user user3@email %[8]s %[9]s 0 seconds 0

--------
Messages
--------

* %[20]s %[10]s @user1 %[17]s @user1 user (user1@email) message 0
* %[20]s %[10]s @user1 %[17]s @user1 user (user1@email) Uploaded file
* %[21]s %[11]s @user1 %[17]s @user1 user (user1@email) message 1
* %[21]s %[11]s @user1 %[17]s @user1 user (user1@email) Uploaded file
* %[22]s %[12]s @user1 %[17]s @user1 user (user1@email) message 2
* %[22]s %[12]s @user1 %[17]s @user1 user (user1@email) Uploaded file
