--------------------
Conversation Summary
--------------------

* TeamId: %[6]s
* TeamName: %[7]s
* TeamDisplayName: %[8]s
* ChannelId: %[9]s
* ChannelName: channel_two_name
* ChannelDisplayName: the Channel Two
* Started: %[1]s
* Ended: %[2]s
* Duration: 0 seconds

UserId
Username
UserType
Email Joined Left Duration Messages %[10]s @user1 user user1@email %[3]s %[4]s 0 seconds 1

--------
Messages
--------

* %[13]s %[5]s @user1 %[10]s @user1 user (user1@email) message 6 EditedOriginalMsg %[12]s %[14]s
