--------------------
Conversation Summary
--------------------

* TeamId: %[13]s
* TeamName: %[14]s
* TeamDisplayName: %[15]s
* ChannelId: %[12]s
* ChannelName: channel_two_name
* ChannelDisplayName: the Channel Two
* Started: %[1]s
* Ended: %[2]s
* Duration: 0 seconds

UserId
Username
UserType
Email Joined Left Duration Messages %[16]s @user1 user user1@email %[3]s %[4]s 0 seconds 3 %[22]s @user5 user user5@email %[5]s %[6]s 0 seconds 0 %[23]s @user6 user user6@email %[7]s %[8]s 0 seconds 0

--------
Messages
--------

* %[19]s %[9]s @user1 %[16]s @user1 user (user1@email) message 6
* %[19]s %[9]s @user1 %[16]s @user1 user (user1@email) Uploaded file
* %[20]s %[10]s @user1 %[16]s @user1 user (user1@email) message 7
* %[20]s %[10]s @user1 %[16]s @user1 user (user1@email) Uploaded file
* %[21]s %[11]s @user1 %[16]s @user1 user (user1@email) message 8
* %[21]s %[11]s @user1 %[16]s @user1 user (user1@email) Uploaded file
