--------------------
Conversation Summary
--------------------

* TeamId: %[13]s
* TeamName: %[14]s
* TeamDisplayName: %[15]s
* ChannelId: %[16]s
* ChannelName: channel_two_name
* ChannelDisplayName: the Channel Two
* Started: %[1]s
* Ended: %[2]s
* Duration: 0 seconds

UserId
Username
UserType
Email Joined Left Duration Messages %[17]s @user1 user user1@email %[3]s %[4]s 0 seconds 9

--------
Messages
--------

* %[18]s %[5]s @user1 %[17]s @user1 user (user1@email) message 0
* %[19]s %[6]s @user1 %[17]s @user1 user (user1@email) message 1
* %[19]s %[6]s @user1 %[17]s @user1 user (user1@email) delete message 1 Deleted %[26]s
* %[20]s %[7]s @user1 %[17]s @user1 user (user1@email) message 2 UpdatedNoMsgChange %[27]s
* %[21]s %[8]s @user1 %[17]s @user1 user (user1@email) message 3
* %[21]s %[8]s @user1 %[17]s @user1 user (user1@email) Uploaded file
* %[21]s %[8]s @user1 %[17]s @user1 user (user1@email) delete message 3 Deleted %[9]s
* %[21]s %[8]s @user1 %[17]s @user1 user (user1@email) Deleted file FileDeleted %[9]s
* %[22]s %[10]s @user1 %[17]s @user1 user (user1@email) message 4 EditedOriginalMsg %[28]s %[23]s
* %[23]s %[11]s @user1 %[17]s @user1 user (user1@email) edited message 4 EditedNewMsg %[28]s
* %[24]s %[12]s @user1 %[17]s @user1 user (user1@email) message 6 EditedOriginalMsg %[29]s %[25]s
