--------------------
Conversation Summary
--------------------

* Channel: %[1]s
* Started: %[2]s
* Ended: %[3]s
* Duration: 0 seconds

Username
UserType
Email Joined Left Duration Messages @user1 user user1@email %[4]s %[5]s 0 seconds 3 @user2 user user2@email %[6]s %[7]s 0 seconds 0 @user3 user user3@email %[8]s %[9]s 0 seconds 0

--------
Messages
--------

* %[10]s @user1 user (user1@email): message 0
* %[10]s @user1 user (user1@email): Uploaded file
* %[11]s @user1 user (user1@email): message 1
* %[11]s @user1 user (user1@email): Uploaded file
* %[12]s @user1 user (user1@email): message 2
* %[12]s @user1 user (user1@email): Uploaded file
