--------------------
Conversation Summary
--------------------

* Channel: the Channel Two
* Started: %[1]s
* Ended: %[2]s
* Duration: 0 seconds

Username
UserType
Email Joined Left Duration Messages @user1 user user1@email %[3]s %[4]s 0 seconds 1

--------
Messages
--------

* %[5]s @user1 user (user1@email): message 6

