--------------------
Conversation Summary
--------------------

* Channel: the Channel Two
* Started: %[1]s
* Ended: %[2]s
* Duration: 0 seconds

Username
UserType
Email Joined Left Duration Messages @user1 user user1@email %[3]s %[4]s 0 seconds 7

--------
Messages
--------

* %[5]s @user1 user (user1@email): message 0
* %[6]s @user1 user (user1@email): message 1
* %[7]s @user1 user (user1@email): message 2
* %[8]s @user1 user (user1@email): message 3
* %[8]s @user1 user (user1@email): Uploaded file
* %[9]s @user1 user (user1@email): Deleted file
* %[10]s @user1 user (user1@email): message 4
* %[11]s @user1 user (user1@email): edited message 4
* %[12]s @user1 user (user1@email): message 6

