--------------------
Conversation Summary
--------------------

* TeamId: %[1]s
* TeamName:
* TeamDisplayName:
* ChannelId: %[4]s
* ChannelName: channel_three_name
* ChannelDisplayName: the Channel Three
* Started: %[5]s
* Ended: %[6]s
* Duration: 0 seconds

UserId
Username
UserType
Email Joined Left Duration Messages %[7]s @user7 user user7@email %[8]s %[9]s 0 seconds 0

--------
Messages
--------
