--------------------
Conversation Summary
--------------------

* TeamId: %[11]s
* TeamName: %[12]s
* TeamDisplayName: %[13]s
* ChannelId: %[10]s
* ChannelName: channel_two_name
* ChannelDisplayName: the Channel Two
* Started: %[1]s
* Ended: %[2]s
* Duration: 0 seconds

UserId
Username
UserType
Email Joined Left Duration Messages %[14]s @user1 user user1@email %[3]s %[4]s 0 seconds 3 %[15]s @user4 user user4@email %[5]s %[6]s 0 seconds 0

--------
Messages
--------

* %[16]s %[7]s @user1 %[14]s @user1 user (user1@email) message 3
* %[16]s %[7]s @user1 %[14]s @user1 user (user1@email) Uploaded file
* %[17]s %[8]s @user1 %[14]s @user1 user (user1@email) message 4
* %[17]s %[8]s @user1 %[14]s @user1 user (user1@email) Uploaded file
* %[18]s %[9]s @user1 %[14]s @user1 user (user1@email) message 5
* %[18]s %[9]s @user1 %[14]s @user1 user (user1@email) Uploaded file
