.Attachment {
    display: block;
    width: 100%;

    .attachment-header {
        display: flex;
    }

    .attachment-plus-btn {
        margin-left: auto;
    }

    .attachment-content {
        padding-bottom: 20px;
        display: flex;
        overflow-x: auto;
    }

    .attachment-plus-icon {
        color: rgba(var(--center-channel-color-rgb), 0.56);
        cursor: pointer;
    }

    .attachment-title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
}
