.visit-marketplace-text {
    padding: 8px 16px 12px 16px;
    text-align: center;
}

.visit-marketplace {
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.visit-marketplace-button {
    width: 100%;

    .Menu {
        padding: 8px 0;
        text-align: left;
    }
}
