.CloudFetchError {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
    border-radius: 4px;
    background-color: var(--sys-center-channel-bg);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
    color: var(--sys-center-channel-color);
    text-align: center;

    &__header {
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 24px;
    }
}
