.NotificationSeparator {
    .separator__hr {
        border-color: rgba(var(--new-message-separator-rgb), 0.5);
    }

    .separator__text {
        display: inline-flex;
        color: var(--new-message-separator);
        font-weight: normal;
    }
}
