#searchInput {
    flex: none;
}

.backstage-footer {
    display: flex;
    height: auto;
    flex-direction: row;
    padding: 8px;
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
    border-top: none;
    background: var(--center-channel-bg);
    color: rgba(var(--center-channel-color-rgb), 0.64);
    font-size: 1.1em;
    text-align: right;

    .backstage-footer__cell {
        width: 100%;
        text-align: right;
    }
}
