@use 'sass:color';

@use 'utils/variables';

#searchInput {
    flex: none;
}

.backstage-footer {
    display: flex;
    height: auto;
    flex-direction: row;
    padding: 8px;
    border: 1px solid variables.$light-gray;
    border-top: none;
    background: variables.$white;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    text-align: right;

    .backstage-footer__cell {
        width: 100%;
        text-align: right;
    }
}
