.mm-modal-generic-section {
    display: flex;
    flex-direction: column;

    .modalSectionHeader {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-block-end: 24px;

        .modalSectionTitle {
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            color: var(--center-channel-color);
            font-family: "Metropolis", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            gap: 8px;
            line-height: 24px;
        }

        .modalSectionDescription {
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            color: rgba(var(--center-channel-color-rgb), 0.64);
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }
    }

    .modalSectionContent {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}
