.mm-modal-generic-section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__info-ctr {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
        gap: 8px;
    }

    &__title {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        color: var(--center-channel-color);
        font-family: 'Metropolis', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__description {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        color: rgba(var(--center-channel-color-rgb), 0.64);
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}
