.mm-modal-header {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 32px;
    border-bottom: var(--border-light);
    background: none;
    gap: 8px;

    &__title {
        padding: 0;
        margin: 0;
        color: var(--center-channel-color);
        font-family: 'Metropolis', serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        white-space: nowrap;
    }

    &__vertical-divider {
        width: 1px;
        height: 24px;
        background: rgba(var(--center-channel-color-rgb), 0.16);
    }

    &__subtitle {
        overflow: hidden;
        padding: 0;
        margin: 0;
        color: rgba(var(--center-channel-color-rgb), 0.56);
        font-family: inherit;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__ctr {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: flex-end;
    }

    @media screen and (max-width: 768px) {
        padding: 18px 24px;

        &__title {
            font-size: 20px;
        }

        &__subtitle {
            display: none;
        }

        &__vertical-divider {
            display: none;
        }
    }
}
