.mm-save-changes-panel {
    position: absolute;
    z-index: 1000;
    right: 20px;
    bottom: 20px;
    display: flex;
    width: calc(100% - 232px - 40px);
    align-items: center;
    padding: 18px;
    background-color: var(--dnd-indicator);
    border-radius: 4px;
    box-shadow: var(--elevation-3);
    font-family: 'Open Sans', sans-serif;

    &__message {
        display: flex;
        align-items: center;
        margin: 0;
        color: var(--sidebar-text);
        font-family: inherit;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }

    &__btn-ctr {
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-end;
        gap: 8px;
    }

    &__cancel-btn {
        display: flex;
        width: 64px;
        height: 32px;
        align-items: center;
        padding: 10px 16px;
        border: none;
        background: rgba(255, 255, 255, 0.12);
        border-radius: 4px;
        color: var(--sidebar-text);
        font-family: inherit;
        font-size: 12px;
        font-weight: 600;
        gap: 10px;
        line-height: 10px;
    }

    &__save-btn {
        display: flex;
        width: 59px;
        height: 32px;
        flex-direction: column;
        align-items: center;
        padding: 10px 16px;
        border: none;
        background: var(--sidebar-text);
        border-radius: 4px;
        color: var(--denim-button-bg);
        font-family: inherit;
        font-size: 12px;
        font-weight: 600;
        gap: 10px;
        line-height: 10px;
    }
}
