.action-button {
    display: inline-flex;
    width: 92px;
    height: 64px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: rgba(var(--center-channel-color-rgb), 0.04);
    color: rgba(var(--center-channel-color-rgb), 0.75);
    font-size: 10px;
    font-weight: 600;
    gap: 8px;
    line-height: 1;
    outline: none !important;
    transition: all 0.15s ease;

    &.active,
    &:active {
        background-color: rgba(var(--button-bg-rgb), 0.04);
        color: var(--button-bg);

        &:hover {
            background-color: rgba(var(--button-bg-rgb), 0.08);
            color: var(--button-bg);

            i {
                color: var(--button-bg);
            }

            svg {
                fill: var(--button-bg);
            }
        }

        i {
            color: var(--button-bg);
        }

        svg {
            fill: var(--button-bg);
        }
    }

    &:hover {
        background-color: rgba(var(--center-channel-color-rgb), 0.08);
        color: rgba(var(--center-channel-color-rgb), 0.88);

        i {
            color: rgba(var(--center-channel-color-rgb), var(--icon-opacity-hover));
        }

        svg {
            fill: rgba(var(--center-channel-color-rgb), var(--icon-opacity-hover));
        }
    }

    i {
        color: rgba(var(--center-channel-color-rgb), var(--icon-opacity));
        font-size: 24px;
    }

    svg {
        fill: rgba(var(--center-channel-color-rgb), var(--icon-opacity));
    }
}
