@charset "utf-8";

.dropdown-menu {
    border-color: rgba(var(--center-channel-color-rgb), 0.2);
    border-radius: 4px;
    background: var(--center-channel-bg);
    color: var(--center-channel-color);

    &.colorpicker {
        z-index: 2500;
        min-width: 125px;
    }

    .dropdown-item__plugin {
        display: flex;
        justify-content: center;

        &:empty {
            display: none;
        }
    }

    div {
        > a:focus,
        > a:hover {
            background: rgba(var(--center-channel-color-rgb), 0.1);
        }
    }

    > li {
        > a {
            color: inherit;

            &:hover {
                background: rgba(var(--center-channel-color-rgb), 0.1);
                color: inherit;
            }

            &:focus {
                background: rgba(var(--center-channel-color-rgb), 0.1);
            }
        }
    }

    .a11y--focused {
        box-shadow: none !important;
    }
}

.open {
    > .dropdown-menu__content {
        display: block;

        > .dropdown-menu {
            display: block;
        }
    }
}

.dropdown-menu__content {
    display: none;
}

.dropdown-menu__icons {
    li {
        .fa {
            width: 25px;
            margin-left: -5px;
            text-align: center;
        }
    }
}

@media screen and (min-width: 769px) {
    // global header style adjustments
    .dropdown-menu {
        top: calc(100% + 4px);
        min-width: 245px;
    }
}
