.post-card--info {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    min-width: 0;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-top: $border-gray;
    background: var(--center-channel-bg);
    white-space: nowrap;

    .post-card--post-by {
        padding-right: 10px;
    }

    .status-wrapper {
        height: auto;
    }

    .more-modal__image {
        width: 20px;
        height: 20px;
        margin: 0 2px 0 4px;
    }

    .user-popover {
        font-weight: 600;
    }
}
