.system-users-export__keyIndicator {
    position: relative;
    border-radius: 12px;
    background: var(--online-indicator, #3DB887);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    right: 14px;
    align-self: flex-start;
    top: -6px;

    i {
        font-size: 12px;
        color: var(--center-channel-bg, #FFF);

        &:before {
            margin: 0;
        }
    }
}