/* open-sans-300 - latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-300.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-300italic - latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-300italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'),
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-300italic.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-regular.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-italic.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-600.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600italic - latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-600italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'),
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-600italic.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-700.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700italic - latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-700italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-700italic.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-800.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800italic - latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-800italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'),
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-800italic.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/open-sans-v13-latin-ext_latin_cyrillic-ext_greek-ext_greek_cyrillic_vietnamese-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* Lato */
@font-face {
	font-family: 'Lato';
	font-weight: 400;
	font-style: normal;
	src: url('/static/fonts/Lato-regular.eot');
	src: local('Lato Regular'), local('Lato-regular'),
		url('/static/fonts/Lato-regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Lato-regular.woff2') format('woff2'),
		url('/static/fonts/Lato-regular.woff') format('woff'),
		url('/static/fonts/Lato-regular.ttf') format('truetype'),
		url('/static/fonts/Lato-regular.svg#Lato') format('svg');
}

/* Lato Italic */
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url('/static/fonts/lato-italic-webfont.eot');
    src: url('/static/fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/lato-italic-webfont.woff2') format('woff2'),
         url('/static/fonts/lato-italic-webfont.woff') format('woff'),
         url('/static/fonts/lato-italic-webfont.ttf') format('truetype'),
         url('/static/fonts/lato-italic-webfont.svg#latoitalic') format('svg');
}

/* Lato Bold */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/lato-bold-webfont.eot');
    src: url('/static/fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/lato-bold-webfont.woff2') format('woff2'),
         url('/static/fonts/lato-bold-webfont.woff') format('woff'),
         url('/static/fonts/lato-bold-webfont.ttf') format('truetype'),
         url('/static/fonts/lato-bold-webfont.svg#latobold') format('svg');
}


/* Lato Bold Italic*/
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('/static/fonts/lato-bolditalic-webfont.eot');
    src: url('/static/fonts/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/lato-bolditalic-webfont.woff2') format('woff2'),
         url('/static/fonts/lato-bolditalic-webfont.woff') format('woff'),
         url('/static/fonts/lato-bolditalic-webfont.ttf') format('truetype'),
         url('/static/fonts/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
}

/* Droid Serif */
@font-face {
	font-family: 'Droid Serif';
	font-weight: 400;
	font-style: normal;
	src: url('/static/fonts/Droid-Serif-regular.eot');
	src: local('Droid Serif'), local('Droid-Serif-regular'),
		url('/static/fonts/Droid-Serif-regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Droid-Serif-regular.woff2') format('woff2'),
		url('/static/fonts/Droid-Serif-regular.woff') format('woff'),
		url('/static/fonts/Droid-Serif-regular.ttf') format('truetype'),
		url('/static/fonts/Droid-Serif-regular.svg#DroidSerif') format('svg');
}

/* Droid Serif Italic */
@font-face {
  font-family: 'Droid Serif';
  font-weight: 400;
  font-style: italic;
  src: url('/static/fonts/droidserif-italic-webfont.eot');
  src: url('/static/fonts/droidserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/droidserif-italic-webfont.woff2') format('woff2'),
       url('/static/fonts/droidserif-italic-webfont.woff') format('woff'),
       url('/static/fonts/droidserif-italic-webfont.ttf') format('truetype'),
       url('/static/fonts/droidserif-italic-webfont.svg#droid_serifitalic') format('svg');
}

/* Droid Serif Bold */
@font-face {
  font-family: 'Droid Serif';
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/droidserif-bold-webfont.eot');
  src: url('/static/fonts/droidserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/droidserif-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/droidserif-bold-webfont.woff') format('woff'),
       url('/static/fonts/droidserif-bold-webfont.ttf') format('truetype'),
       url('/static/fonts/droidserif-bold-webfont.svg#droid_serifbold') format('svg');
}

/* Droid Serif Bold Italic */
@font-face {
  font-family: 'Droid Serif';
  font-weight: 700;
  font-style: italic;
  src: url('/static/fonts/droidserif-bolditalic-webfont.eot');
  src: url('/static/fonts/droidserif-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/droidserif-bolditalic-webfont.woff2') format('woff2'),
       url('/static/fonts/droidserif-bolditalic-webfont.woff') format('woff'),
       url('/static/fonts/droidserif-bolditalic-webfont.ttf') format('truetype'),
       url('/static/fonts/droidserif-bolditalic-webfont.svg#droid_serifbold_italic') format('svg');
}

/* Lora */
@font-face {
	font-family: 'Lora';
	font-weight: 400;
	font-style: normal;
	src: url('/static/fonts/Lora-regular.eot');
	src: local('Lora'), local('Lora-regular'),
		url('/static/fonts/Lora-regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Lora-regular.woff2') format('woff2'),
		url('/static/fonts/Lora-regular.woff') format('woff'),
		url('/static/fonts/Lora-regular.ttf') format('truetype'),
		url('/static/fonts/Lora-regular.svg#Lora') format('svg');
}

/* Lora Italic */
@font-face {
  font-family: 'Lora';
  font-weight: 400;
  font-style: italic;
  src: url('/static/fonts/lora-italic-webfont.eot');
  src: url('/static/fonts/lora-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/lora-italic-webfont.woff2') format('woff2'),
       url('/static/fonts/lora-italic-webfont.woff') format('woff'),
       url('/static/fonts/lora-italic-webfont.ttf') format('truetype'),
       url('/static/fonts/lora-italic-webfont.svg#loraitalic') format('svg');
}

/* Lora Bold */
@font-face {
  font-family: 'Lora';
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/lora-bold-webfont.eot');
  src: url('/static/fonts/lora-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/lora-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/lora-bold-webfont.woff') format('woff'),
       url('/static/fonts/lora-bold-webfont.ttf') format('truetype'),
       url('/static/fonts/lora-bold-webfont.svg#lorabold') format('svg');
}

/* Lora Bold Italic */
@font-face {
  font-family: 'Lora';
  font-weight: 700;
  font-style: italic;
  src: url('/static/fonts/lora-bolditalic-webfont.eot');
  src: url('/static/fonts/lora-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/lora-bolditalic-webfont.woff2') format('woff2'),
       url('/static/fonts/lora-bolditalic-webfont.woff') format('woff'),
       url('/static/fonts/lora-bolditalic-webfont.ttf') format('truetype'),
       url('/static/fonts/lora-bolditalic-webfont.svg#lorabold_italic') format('svg');
}

/* Arvo */
@font-face {
	font-family: 'Arvo';
	font-weight: 400;
	font-style: normal;
	src: url('/static/fonts/Arvo-regular.eot');
	src: local('Arvo'), local('Arvo-regular'),
		url('/static/fonts/Arvo-regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Arvo-regular.woff2') format('woff2'),
		url('/static/fonts/Arvo-regular.woff') format('woff'),
		url('/static/fonts/Arvo-regular.ttf') format('truetype'),
		url('/static/fonts/Arvo-regular.svg#Arvo') format('svg');
}

/* Arvo Italic */
@font-face {
  font-family: 'Arvo';
  font-weight: 400;
  font-style: italic;
  src: url('/static/fonts/arvo-italic-webfont.eot');
  src: url('/static/fonts/arvo-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/arvo-italic-webfont.woff2') format('woff2'),
       url('/static/fonts/arvo-italic-webfont.woff') format('woff'),
       url('/static/fonts/arvo-italic-webfont.ttf') format('truetype'),
       url('/static/fonts/arvo-italic-webfont.svg#arvoitalic') format('svg');
}

/* Arvo Bold */
@font-face {
  font-family: 'Arvo';
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/arvo-bold-webfont.eot');
  src: url('/static/fonts/arvo-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/arvo-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/arvo-bold-webfont.woff') format('woff'),
       url('/static/fonts/arvo-bold-webfont.ttf') format('truetype'),
       url('/static/fonts/arvo-bold-webfont.svg#arvobold') format('svg');
}

/* Arvo Bold Italic */
@font-face {
  font-family: 'Arvo';
  font-weight: 700;
  font-style: italic;
  src: url('/static/fonts/arvo-bolditalic-webfont.eot');
  src: url('/static/fonts/arvo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/arvo-bolditalic-webfont.woff2') format('woff2'),
       url('/static/fonts/arvo-bolditalic-webfont.woff') format('woff'),
       url('/static/fonts/arvo-bolditalic-webfont.ttf') format('truetype'),
       url('/static/fonts/arvo-bolditalic-webfont.svg#arvobold_italic') format('svg');
}

/* Roboto */
@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	src: url('/static/fonts/Roboto-regular.eot');
	src: local('Roboto'), local('Roboto-regular'),
		url('/static/fonts/Roboto-regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Roboto-regular.woff2') format('woff2'),
		url('/static/fonts/Roboto-regular.woff') format('woff'),
		url('/static/fonts/Roboto-regular.ttf') format('truetype'),
		url('/static/fonts/Roboto-regular.svg#Roboto') format('svg');
}

/* Roboto Italic */
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: url('/static/fonts/roboto-italic-webfont.eot');
  src: url('/static/fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/roboto-italic-webfont.woff2') format('woff2'),
       url('/static/fonts/roboto-italic-webfont.woff') format('woff'),
       url('/static/fonts/roboto-italic-webfont.ttf') format('truetype'),
       url('/static/fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/roboto-bold-webfont.eot');
  src: url('/static/fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/roboto-bold-webfont.woff') format('woff'),
       url('/static/fonts/roboto-bold-webfont.ttf') format('truetype'),
       url('/static/fonts/roboto-bold-webfont.svg#robotobold') format('svg');
}

/* Roboto Bold Italic */
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;
  src: url('/static/fonts/roboto-bolditalic-webfont.eot');
  src: url('/static/fonts/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
       url('/static/fonts/roboto-bolditalic-webfont.woff') format('woff'),
       url('/static/fonts/roboto-bolditalic-webfont.ttf') format('truetype'),
       url('/static/fonts/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
}

/* PT Sans */
@font-face {
	font-family: 'PT Sans';
	font-weight: 400;
	font-style: normal;
	src: url('/static/fonts/PT-Sans-regular.eot');
	src: local('PT Sans'), local('PT-Sans-regular'),
		url('/static/fonts/PT-Sans-regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/PT-Sans-regular.woff2') format('woff2'),
		url('/static/fonts/PT-Sans-regular.woff') format('woff'),
		url('/static/fonts/PT-Sans-regular.ttf') format('truetype'),
		url('/static/fonts/PT-Sans-regular.svg#PTSans') format('svg');
}

/* PT Sans Italic */
@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: italic;
  src: url('/static/fonts/pt_sans-web-italic-webfont.eot');
  src: url('/static/fonts/pt_sans-web-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/pt_sans-web-italic-webfont.woff2') format('woff2'),
       url('/static/fonts/pt_sans-web-italic-webfont.woff') format('woff'),
       url('/static/fonts/pt_sans-web-italic-webfont.ttf') format('truetype'),
       url('/static/fonts/pt_sans-web-italic-webfont.svg#pt_sansitalic') format('svg');
}

/* PT Sans Bold */
@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/pt_sans-web-bold-webfont.eot');
  src: url('/static/fonts/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/pt_sans-web-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/pt_sans-web-bold-webfont.woff') format('woff'),
       url('/static/fonts/pt_sans-web-bold-webfont.ttf') format('truetype'),
       url('/static/fonts/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
}

/* PT Sans Bold Italic */
@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-style: italic;
  src: url('/static/fonts/pt_sans-web-bolditalic-webfont.eot');
  src: url('/static/fonts/pt_sans-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
       url('/static/fonts/pt_sans-web-bolditalic-webfont.woff') format('woff'),
       url('/static/fonts/pt_sans-web-bolditalic-webfont.ttf') format('truetype'),
       url('/static/fonts/pt_sans-web-bolditalic-webfont.svg#pt_sansbold_italic') format('svg');
}

/* Source Sans Pro */
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-style: normal;
	src: url('/static/fonts/Source-Sans-Pro-regular.eot');
	src: local('Source Sans Pro'), local('Source-Sans-Pro-regular'),
		url('/static/fonts/Source-Sans-Pro-regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Source-Sans-Pro-regular.woff2') format('woff2'),
		url('/static/fonts/Source-Sans-Pro-regular.woff') format('woff'),
		url('/static/fonts/Source-Sans-Pro-regular.ttf') format('truetype'),
		url('/static/fonts/Source-Sans-Pro-regular.svg#SourceSansPro') format('svg');
}

/* Source Sans Pro Italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: italic;
  src: url('/static/fonts/sourcesanspro-italic-webfont.eot');
  src: url('/static/fonts/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/sourcesanspro-italic-webfont.woff2') format('woff2'),
       url('/static/fonts/sourcesanspro-italic-webfont.woff') format('woff'),
       url('/static/fonts/sourcesanspro-italic-webfont.ttf') format('truetype'),
       url('/static/fonts/sourcesanspro-italic-webfont.svg#source_sans_proitalic') format('svg');
}

/* Source Sans Pro Bold */
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/sourcesanspro-bold-webfont.eot');
  src: url('/static/fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/sourcesanspro-bold-webfont.woff') format('woff'),
       url('/static/fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
       url('/static/fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
}

/* Source Sans Pro Bold Italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: italic;
  src: url('/static/fonts/sourcesanspro-bolditalic-webfont.eot');
  src: url('/static/fonts/sourcesanspro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/sourcesanspro-bolditalic-webfont.woff2') format('woff2'),
       url('/static/fonts/sourcesanspro-bolditalic-webfont.woff') format('woff'),
       url('/static/fonts/sourcesanspro-bolditalic-webfont.ttf') format('truetype'),
       url('/static/fonts/sourcesanspro-bolditalic-webfont.svg#source_sans_probold_italic') format('svg');
}

/* Exo 2 */
@font-face {
	font-family: 'Exo 2';
	font-weight: 400;
	font-style: normal;
	src: url('/static/fonts/Exo-2-regular.eot');
	src: local('Exo 2'), local('Exo-2-regular'),
		url('/static/fonts/Exo-2-regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Exo-2-regular.woff2') format('woff2'),
		url('/static/fonts/Exo-2-regular.woff') format('woff'),
		url('/static/fonts/Exo-2-regular.ttf') format('truetype'),
		url('/static/fonts/Exo-2-regular.svg#Exo2') format('svg');
}

/* Exo 2 Italic */
@font-face {
  font-family: 'Exo 2';
  font-weight: 400;
  font-style: italic;
  src: url('/static/fonts/exo2-italic-webfont.eot');
  src: url('/static/fonts/exo2-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/exo2-italic-webfont.woff2') format('woff2'),
       url('/static/fonts/exo2-italic-webfont.woff') format('woff'),
       url('/static/fonts/exo2-italic-webfont.ttf') format('truetype'),
       url('/static/fonts/exo2-italic-webfont.svg#exo_2italic') format('svg');
}

/* Exo 2 Bold */
@font-face {
  font-family: 'Exo 2';
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/exo2-bold-webfont.eot');
  src: url('/static/fonts/exo2-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/exo2-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/exo2-bold-webfont.woff') format('woff'),
       url('/static/fonts/exo2-bold-webfont.ttf') format('truetype'),
       url('/static/fonts/exo2-bold-webfont.svg#exo_2bold') format('svg');
}

/* Exo 2 Bold Italic */
@font-face {
  font-family: 'Exo 2';
  font-weight: 700;
  font-style: italic;
  src: url('/static/fonts/exo2-bolditalic-webfont.eot');
  src: url('/static/fonts/exo2-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/exo2-bolditalic-webfont.woff2') format('woff2'),
       url('/static/fonts/exo2-bolditalic-webfont.woff') format('woff'),
       url('/static/fonts/exo2-bolditalic-webfont.ttf') format('truetype'),
       url('/static/fonts/exo2-bolditalic-webfont.svg#exo_2bold_italic') format('svg');
}

/* Ubuntu */
@font-face {
	font-family: 'Ubuntu';
	font-weight: 400;
	font-style: normal;
	src: url('/static/fonts/Ubuntu-regular.eot');
	src: local('Ubuntu'), local('Ubuntu-regular'),
		url('/static/fonts/Ubuntu-regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Ubuntu-regular.woff2') format('woff2'),
		url('/static/fonts/Ubuntu-regular.woff') format('woff'),
		url('/static/fonts/Ubuntu-regular.ttf') format('truetype'),
		url('/static/fonts/Ubuntu-regular.svg#Ubuntu') format('svg');
}

/* Ubuntu Italic */
@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: italic;
  src: url('/static/fonts/ubuntu-italic-webfont.eot');
  src: url('/static/fonts/ubuntu-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/ubuntu-italic-webfont.woff2') format('woff2'),
       url('/static/fonts/ubuntu-italic-webfont.woff') format('woff'),
       url('/static/fonts/ubuntu-italic-webfont.ttf') format('truetype'),
       url('/static/fonts/ubuntu-italic-webfont.svg#ubuntuitalic') format('svg');
}

/* Ubuntu Bold */
@font-face {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/ubuntu-bold-webfont.eot');
  src: url('/static/fonts/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/ubuntu-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/ubuntu-bold-webfont.woff') format('woff'),
       url('/static/fonts/ubuntu-bold-webfont.ttf') format('truetype'),
       url('/static/fonts/ubuntu-bold-webfont.svg#ubuntubold') format('svg');
}

/* Ubuntu Bold Italic */
@font-face {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-style: italic;
  src: url('/static/fonts/ubuntu-bolditalic-webfont.eot');
  src: url('/static/fonts/ubuntu-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/ubuntu-bolditalic-webfont.woff2') format('woff2'),
       url('/static/fonts/ubuntu-bolditalic-webfont.woff') format('woff'),
       url('/static/fonts/ubuntu-bolditalic-webfont.ttf') format('truetype'),
       url('/static/fonts/ubuntu-bolditalic-webfont.svg#ubuntubold_italic') format('svg');
}

/* Roboto Slab */
@font-face {
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-style: normal;
	src: url('/static/fonts/Roboto-Slab-regular.eot');
	src: local('Roboto Slab Regular'), local('Roboto-Slab-regular'),
		url('/static/fonts/Roboto-Slab-regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Roboto-Slab-regular.woff2') format('woff2'),
		url('/static/fonts/Roboto-Slab-regular.woff') format('woff'),
		url('/static/fonts/Roboto-Slab-regular.ttf') format('truetype'),
		url('/static/fonts/Roboto-Slab-regular.svg#RobotoSlab') format('svg');
}

/* Roboto Slab Bold */
@font-face {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/robotoslab-bold-webfont.eot');
  src: url('/static/fonts/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/robotoslab-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/robotoslab-bold-webfont.woff') format('woff'),
       url('/static/fonts/robotoslab-bold-webfont.ttf') format('truetype'),
       url('/static/fonts/robotoslab-bold-webfont.svg#roboto_slabbold') format('svg');
}


.font--open_sans {
	font-family: 'Open Sans', 'sans-serif';
}

.font--droid_serif {
	font-family: 'Droid Serif', 'serif';
}

.font--roboto_slab {
	font-family: 'Roboto Slab', 'serif';
}

.font--lora {
	font-family: 'Lora', 'serif';
}

.font--arvo {
	font-family: 'Arvo', 'serif';
}

.font--roboto {
	font-family: 'Roboto', 'sans-serif';
}

.font--pt_sans {
	font-family: 'PT Sans', 'sans-serif';
}

.font--lato {
	font-family: 'Lato', 'sans-serif';
}

.font--source_sans_pro {
	font-family: 'Source Sans Pro', 'sans-serif';
}

.font--exo_2 {
	font-family: 'Exo 2', 'sans-serif';
}

.font--ubuntu {
	font-family: Ubuntu, 'sans-serif';
}