@charset 'UTF-8';

#browseChannelsModal {
    .modal-content {
        min-height: 600px;
        max-height: calc(50vh - 240px);
    }

    .modal-dialog {
        margin-top: calc(45vh - 240px) !important;
    }

    .filter-row--full {
        position: relative;
        padding: 0 32px;

        .input-clear {
            top: 16px;
            right: 46px;
        }

        #searchIcon {
            position: absolute;
            top: 16px;
            left: 46px;
            color: rgba(var(--center-channel-color-rgb), 0.64);
            pointer-events: none;
        }

        #searchChannelsTextbox {
            height: 48px;
            padding-left: 40px;
            border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
            box-shadow: none;
            font-size: 16px;

            &::placeholder {
                color: var(--center-channel-color);
            }

            &:focus {
                border: 2px solid var(--button-bg);
            }
        }
    }

    .more-modal__dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 32px;
        border-bottom: solid 1px rgba(var(--center-channel-color-rgb), 0.16);
        margin: 0;

        span {
            color: rgba(var(--center-channel-color-rgb), 0.64);
            font-size: 12px;
            line-height: 16px;
        }

        .MenuItem__primary-text {
            width: 100%;
            color: var(--center-channel-color);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;

            svg {
                margin-left: auto;
            }
        }

        .Menu__content {
            border-color: rgba(var(--center-channel-color-rgb), 0.16);
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
        }

        #channelCountLabel {
            color: var(--center-channel-color);
            font-size: 12px;
            font-weight: 400;
        }

        #modalPreferenceContainer {
            display: flex;
            align-items: center;
            justify-content: center;

            .get-app__checkbox {
                display: flex;
                width: 16px;
                height: 16px;
                align-items: center;
                border: 1px solid rgba(var(--center-channel-color-rgb), 0.24);
            }

            #hideJoinedPreferenceCheckbox {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            #channelsMoreDropdown {
                margin: 0 8px;
            }

            #menuWrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 4px 6px 4px 8px;
                border: none;
                background-color: unset;
            }

            .MenuWrapper:hover {
                background-color: rgba(var(--center-channel-color-rgb), 0.08);
                border-radius: 4px;
            }

            .MenuWrapper--open {
                background-color: rgba(var(--button-bg-rgb), 0.12);
                border-radius: 4px;

                &:hover {
                    background-color: rgba(var(--button-bg-rgb), 0.12);
                }
            }
        }
    }

    .modal-body {
        padding: 15px 0 0;

        .filtered-user-list {
            height: 500px;
        }

        .more-modal__row {
            padding: 0 32px; // todo check
            border-bottom: none;

            .more-modal__details {
                padding-left: 0;
                color: rgba(var(--center-channel-color-rgb), 0.56);

                svg {
                    flex-shrink: 0;
                }

                .more-modal__name {
                    align-items: center;
                    margin-top: 0;

                    span {
                        color: var(--center-channel-color);
                        font-weight: 500;
                    }
                }

                #channelPurposeContainer {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .dot {
                        width: 3px;
                        height: 3px;
                        flex-shrink: 0;
                        background-color: rgba(var(--center-channel-color-rgb), 0.56);
                        border-radius: 50%;
                    }

                    .more-modal__description {
                        margin-left: 4px;
                        font-weight: 400;
                    }

                    #membershipIndicatorContainer {
                        display: flex;
                        align-items: center;

                        span,
                        svg {
                            color: var(--online-indicator);
                        }
                    }

                    span {
                        margin: 0 4px;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 12px;
                        opacity: 1;
                    }
                }
            }

            .more-modal__actions {
                button {
                    display: none;
                    min-width: 54px;
                    height: 32px;
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }

        .more-modal__row:hover,
        .more-modal__row:focus {
            background-color: rgba(var(--center-channel-color-rgb), 0.08);
            cursor: pointer;

            .more-modal__actions {
                .primaryButton,
                .outlineButton {
                    display: inline-block;
                }
            }
        }

        .form-group {
            padding: 0 32px;
            margin-bottom: 0;
        }

        ::-webkit-scrollbar {
            width: 4px;
        }

        ::-webkit-scrollbar-track {
            background: none;
        }
    }

    .modal-header {
        .GenericModal__header {
            display: flex;
            width: 95%;
            align-items: center;
            justify-content: space-between;
            padding-right: 4px;
        }

        .close {
            top: 22px;
        }
    }

    .outlineButton {
        border: 1px solid var(--button-bg);
        background: none;
        border-radius: 4px;
        color: var(--button-bg);
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }

    .outlineButton:hover {
        background-color: rgba(var(--button-bg-rgb), 0.08);
    }

    .filter-controls {
        padding: 0;

        button {
            min-width: 72px;
            margin: 8px 32px;
        }
    }
}

#moreChannelsList {
    .primary-message {
        margin-top: 8px;
        color: var(--center-channel-color);
        line-height: 28px;
    }

    .secondary-message {
        margin-bottom: 30px;
    }

    .primaryButton {
        background-color: var(--button-bg);
        border-radius: 4px;
        color: var(--button-color);
        font-size: 14px;
        font-weight: 600;
    }

    #createNewChannelButton {
        padding: 10px 20px;
    }
}
