.AddPropertiesTourStep {
    &.tutorial-tour-tip__pulsating-dot-ctr {
        left: 100%;
        top: calc(50% - 6px);
    }

    .tippy-arrow {
        top: -21px !important;
    }

    &.tippy-box.tutorial-tour-tip__box {
        top: 24px;
    }
}
