@import 'utils/mixins';

.InviteMembers-body {
    display: flex;
    // page width - channels preview width - progress dots width - people overlap width
    max-width: calc(100vw - 600px - 120px - 30px);

    .UsersEmailsInput {
        max-width: 420px;
    }

    .PreparingWorkspaceDescription span {
        max-width: 500px;
        display: inline-block;
    }
}

.InviteMembers {
    &__submit {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 400px;
    }
}

.InviteMembersLink__button--single {
    margin-left: 12px;
    margin-right: 8px;
    min-width: 148px;
    width: fit-content;
}

.fade-in-skip-button {
    opacity: 0;
    animation: fade-in 2s forwards;
}
  
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@include simple-in-and-out-before("InviteMembers");

.ChannelsPreview--enter-from-after {
    &-enter {
        transform: translateX(-100vw);
    }

    &-enter-active {
        transform: translateX(0);
        transition: transform 300ms ease-in-out;
    }

    &-enter-done {
        transform: translateX(0);
    }
}

.ChannelsPreview--exit-to-after {
    &-exit {
        transform: translateX(0);
    }

    &-exit-active {
        transform: translateX(-100vw);
        transition: transform 300ms ease-in-out;
    }

    &-exit-done {
        transform: translateX(-100vw);
    }
}
