@import 'utils/mixins';

.Plugins__marketplace {
    margin-top: 24px;
}

// preempt cards wrapping
@media screen and (max-width: 900px) {
    .Plugins-body {
        .MultiSelectCards {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 16px;

            .MultiSelectCard {
                width: 100%;
                max-width: 500px;
                flex-direction: row;
                flex-grow: 1;
                padding: 16px;
                margin-right: 0;
                margin-bottom: 16px;
                text-align: left;

                svg {
                    max-width: 50px;
                    max-height: 50px;
                    flex-shrink: 0;
                }

                &__label {
                    width: 100%;
                    flex-grow: 1;
                    padding-top: 0;
                    padding-left: 20px;
                }

                &__checkmark {
                    position: static;
                    padding-right: 4px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@include simple-in-and-out("Plugins");
