@keyframes highlight {
  from { background: rgba(yellow, 0.5);}
  to { background: none;}
}

.animation--highlight {
    &:before {
        content: '';
        animation: highlight 1.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.activity-log__table {
    display: table;
    width: 100%;
    line-height: 1.8;
    border-top: 1px solid #DDD;
    padding: 15px 0;
    &:first-child {
        padding-top: 0;
        border: none;
    }
    > div {
        display: table-cell;
        vertical-align: top;
    }
    .activity-log__report {
        width: 80%;
    }
    .activity-log__action {
        text-align: right;
    }
    .report__platform {
        font-size: 16px;
        font-weight: 600;
        .fa {
            margin-right: 6px;
        }
    }
    .report__info {
        @include opacity(0.8);
    }
}
.session-help-text {
    padding: 20px 20px 5px 20px;
}