@charset "UTF-8";

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: $body-bg;
    position: relative;
    width: 100%;
    height: 100%;
    &.white {
        background: #fff;
        > .container-fluid {
            overflow: auto;
        }
        .inner__wrap {
            > .row.content {
                min-height: 100%;
                margin-bottom: -89px;
            }
        }
    }
}

b, strong {
    font-weight: 600;
}

.inner__wrap {
    height: 100%;
    > .row.main {
        height: 100%;
        position: relative;
    }
}

.container-fluid {
    @include legacy-pie-clearfix;
    height: 100%;
    position: relative;
}

.channel-view {
    @include clearfix;
    height: 100%;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    &.rounded {
        @include border-radius(100%);
    }
}

.popover {
    @include border-radius(3px);
    color: #333;
    &.bottom, &.right, &.top, &.left {
        >.arrow:after {
            border-color: transparent;
        }
    }
    .popover-title {
        background: rgba(black, 0.05);
    }
    .popover-content {
        p:last-child {
            margin-bottom: 5px;
        }
    }
}

.dropdown-menu {
    .divider {
        @include opacity(0.15);
    }
    > li > a {
        color: inherit;
        &:focus, &:hover {
            color: inherit;
        }
    }
}

.word-break--all {
    word-break: break-all;
}

a {
    word-break: break-word;
    color: $primary-color;
    cursor: pointer;
}

a:focus, a:hover {
    color: $primary-color;
}

.tooltip {
    .tooltip-inner {
        word-break: break-word;
        font-size: 13px;
        padding: 3px 10px 4px;
        font-weight: 500;
    }
}

.nopadding {
    padding: 0;
    margin: 0;
}

.text-danger, a.text-danger {
    color: #E05F5D;
    &:hover, &:focus {
        color: #E05F5D;
    }
}

.btn {
    &.btn-danger {
        color: #fff;
        &:hover, &:active, &:focus {
            color: #fff;
        }
    }
}

.form-control {
    @include border-radius(2px);
    &:focus {
        @include box-shadow(none);
    }
    &.no-padding {
        line-height: 32px;
        padding: 0;
    }
    &.no-resize {
        resize: none;
    }
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: auto;
    background: rgba(#fff, 0.1);
    color: inherit;
}

.form-group {
    &.form-group--small {
        margin-bottom: 10px;
    }
}

.error-panel {
    max-width: 275px;
    position: absolute;
    right: 10px;
    top: 40px;
    z-index: 100;
}

.nav>li>a:focus, .nav>li>a:hover {
    background: transparent;
}

.btn {
    @include single-transition(all, 0.25s, ease-in);
    @include border-radius(1px);
    &.btn-primary {
        border-color: transparent;
        background: $primary-color;
        &:hover, &:focus, &:active {
            background: $primary-color--hover;
        }
    }
    &.btn-inactive {
        border-color: transparent;
        background: #707070;
        color: #fff;
    }
}

.relative-div {
    position:relative;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.glyphicon-refresh-animate {
    @include animation(spin .7s infinite linear);
}

.black-bg {
    background-color: black !important;
}

.white-bg {
    background-color: white !important;
}

.alert {
    padding: 8px 12px;
    @include border-radius(2px);
}

.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: 0.25em;
    background-size: contain;
}


// Scrollbar Css

::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    @include border-radius(5px);
    background: rgba(0, 0, 0, 0.4);
}

body{
    scrollbar-face-color: rgba(0, 0, 0, 0.1);
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color:#7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: rgba(0, 0, 0, 0.1);
    scrollbar-arrow-color: #C1C1D1;
}