.form-horizontal {
	.modal-intro {
		margin: -10px 0 30px;
	}
	.form__label {
		text-align: left;
		padding-right: 3px;
		font-weight: 600;
		font-size: 1.1em;
		&.light {
			font-weight: normal;
			color: #999;
			font-size: 1.05em;
			font-style: italic;
			padding-top: 2px;
		}
	}
	.input__help {
		color: #777;
		margin: 10px 0 0 10px;
		&.dark {
			color: #222;
		}
		&.error {
			color: #a94442;
		}
	}
	.form-control {
		font-weight: normal;
	}
	.form-group {
		margin-bottom: 25px;
		&.less {
			margin-bottom: 10px;
		}
	}
}
