.row {
	&.header {
		position: relative;
		.channel__wrap & {
			display: none;
		}
	}
}

.header-dropdown__icon {
	font-size: 11px;
	color: inherit;
	top: 3px;
}
.channel-header__info {
	display: table;
	table-layout: fixed;
	width: 100%;
	> div {
		display: block;
		white-space: nowrap;
		word-break: break-word;
		&.dropdown {
			max-width: 100%;
			padding-right: 1em;
			float: left;
			.header-dropdown__icon {
				color: #777;
			}
			a {
				text-decoration: none;
			}
			.modal {
				white-space: normal;
			}
		}
		&.description {
			overflow: hidden;
			text-overflow: ellipsis;
			margin-top: 2px;
			max-height: 45px;
		}
		&.popover {
			white-space: normal;
		}
	}

}

.channel-intro {
	padding-bottom:5px;
	margin: 0 1em 35px;
	max-width: 850px;
	border-bottom: 1px solid lightgrey;
	.intro-links {
		margin: 0 1.5em 10px 0;
		display: inline-block;
		.fa {
			margin-right: 5px;
		}
	}
	.channel-intro-profile {
		margin-top:5px;
		margin-left: 63px;
	}
	.channel-intro-img {
		float:left;
		img {
			@include border-radius(100px);
		}
	}
	.channel-intro__title {
		font-weight:600;
		font-size: 20px;
		margin-bottom: 15px;
	}
	.channel-intro__content {
		background: #f7f7f7;
		padding: 10px 15px;
		@include border-radius(3px);
	}
	.channel-intro-text {
		margin-top:35px;
	}
}

// Team Header in Sidebar
.sidebar--left, .sidebar--menu {
	.team__header {
		position: relative;
		padding: 10px;
		@include legacy-pie-clearfix;
		&:before {
			@include single-transition(all, 0.05s, linear);
			content: "";
			background: none;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
		}
		&:hover {
			&:before {
				background: rgba(black, 0.1);
			}
			.user__name {
				color: #fff;
			}
			.navbar-right {
				.dropdown-toggle {
					@include opacity(1);
				}
			}
		}
		.navbar-right {
			font-size: 0.85em;
			position: absolute;
			top: 11px;
			right: 22px;
			z-index: 5;
			.dropdown-toggle {
				@include single-transition(all, 0.1s, linear);
				padding: 10px;
				@include opacity(0.8);
			}
			.dropdown-menu {
				li a {
					padding: 3px 20px;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
			.dropdown__icon {
				fill: #fff;
			}
		}
		.settings__link a:hover, a:visited, a:link, a:active {
			text-decoration: none;
		}
		.user__picture {
			width: 36px;
			height: 36px;
			float: left;
			@include border-radius(36px);
			margin-right: 6px;
		}
		.header__info {
			color: #fff;
			padding-left: 4px;
			z-index: 1;
			position: relative;
		}
		.team__name, .user__name {
			display: block;
			font-weight: 600;
			font-size: 16px;
			max-width: 80%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			text-decoration: none;
		}
		.team__name {
			line-height: 22px;
			margin-top: -2px;
		}
		.user__name {
			@include single-transition(all, 0.1s, linear);
			font-size: 14px;
			line-height: 18px;
			font-weight: 400;
			color: #eee;
			color: rgba(#fff, 0.8);
		}
		> .nav {
			> li {
				> a {
					float: right;
					background: none !important;
					padding: 2px;
					&.dropdown-toggle {
						line-height: 1.8;
						font-size: 1em;
						color: #fff;
					}
				}
			}
		}
	}
	.search__clear {
		display: none;
	}
}

#navbar {
	.navbar-default {
		.navbar-toggle {
			&.menu-toggle {
				padding: 0 1em;
			}
		}
	}
}

.channel-header {
	width:100%;
	border-left: none;
	font-size: 14px;
	line-height: 50px;
	#member_popover {
		margin-right: 5px;
		width: 45px;
		color: #999;
		cursor: pointer;
		.fa {
			margin-left: 3px;
			font-size: 16px;
		}
	}
	&.alt {
		margin: 0;
		th {
			font-weight: normal !important;
		}
		td {
			border: none;
		}
	}
	th {
		text-align: center;
		&:first-child {
			text-align: left !important;
			border-left: none;
			width: 100%;
			padding-left: 1em;
		}
		&:last-child {
			width: 8.9%;
		}
	}
	td {
		padding: 5px 25px 5px !important;
		font-size: 13px;
		text-align: center !important;
		&:first-child {
			text-align: left !important;
		}
	}
	.heading {
		margin: 0;
		color: #555;
		font-size: 1.3em;
		font-weight: 600;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
		display: inline-block;
		vertical-align: middle;
		margin-right: 4px;
	}
	.caret {
		margin-top: 3px;
	}
	.more {
		color: #81848b;
		display: inline-block;
		vertical-align: top;
		text-transform: capitalize;
		font-size: 13px;
	}
	.disabled {
		color: #999;
	}
}

.channel-header__navbar {
	font-size: 16px;
	.heading {
		margin-right: 3px;
	}
	.header-dropdown__icon {
		top: 1px;
	}
}

.channel-header__links {
	height: 32px;
	vertical-align: top;
	display: inline-block;
	width: 15px;
	margin: 9px 6px 3px 0;
	&:hover {
		svg {
			fill: #777;
		}
	}
	a {
		height: 100%;
		display: block;
	}
	svg {
		vertical-align: top;
		margin-top: 8px;
		fill: #aaa;
	}
}
