@charset "UTF-8";

.loading-screen {
	display: table;
	width: 100%;
	height: 100%;
	padding: 60px;
	text-align: center;
	.loading__content {
		display: table-cell;
		vertical-align: middle;
		font-size: 0;
		h3 {
			font-size: 16px;
			font-weight: 400;
			margin: 0 0.2em 0;
			display: inline-block;
		}

		.round {
			background-color: #444;
			width: 4px;
			height: 4px;
			display: inline-block;
			margin: 0 2px;
			opacity: 0.1;
			@include border-radius(10px);
			@include animation(move 0.75s infinite linear);
		}

		@for $i from 1 through 3 {
			.round-#{$i} {
				@include animation-delay(.2s*$i);
			}
		}

		@include keyframes(move) {
			from { opacity: 1; }
			to { opacity: 0.1; }
		}
	}
}