.markdown__heading {
	font-weight: 700;
	line-height: 1.5;
}
.markdown__paragraph-inline {
	display: inline;
	+ .markdown__paragraph-inline {
		margin-left: 4px;
	}
}
#post-list {
    .markdown-inline-img {
        -moz-force-broken-image-icon: 1;
        max-height: 500px;
        height: 500px;
    }
}

.post-body {
	hr {
		height: 4px;
		padding: 0;
		margin: 15px 0 16px;
		background-color: #e7e7e7;
		border: 0 none;
		@include opacity(0.2);
	}
}
.markdown__table {
	background: #fff;
	margin: 5px 0 10px;
	th, td {
		padding: 6px 13px;
		border: 1px solid #ddd;
	}
	tbody tr {
		background: #fff;
		&:nth-child(2n) {
			background-color: #f8f8f8;
		}
	}
}
blockquote {
	border: none;
	position: relative;
	font-size: 16px;
	padding: 10px 10px 10px 38px;
	margin-bottom: 0;
	&:before {
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		text-decoration: inherit;
		content: "\f10d";
		left: 8px;
		top: 5px;
		position: absolute;
		font-size: 20px;
		@include opacity(0.6);
	}
}
pre {
	border: none;
	margin: 5px 0;
	color: inherit;
}
code {
	background: #fff;
	color: inherit;
}
