.mention {
	color: #fff;
	background: $primary-color;
	position: relative;
	z-index: 10;
	padding-bottom: 2px;
	@include border-radius(3px);
}

.mentions--top {
	position: absolute;
	z-index: 1060;
	.mentions-box {
		position:absolute;
		background-color:#fff;
		border: $border-gray;
        overflow-x: hidden;
        overflow-y: scroll;
        bottom:0;
	}
}

.mentions-name {
	position:relative;
	width:100%;
	background-color:#fff;
	height:37px;
	padding:2px;
	z-index:101;
    cursor: pointer;
    &:hover {
        background-color:#e8eaed;
    }
}

.mentions-text {
	font-color:black;
}

.mention-img {
	margin-right:10px;
	height:32px;
	width:32px;
	border-radius: 10%;
}

.mention-fullname {
    color: grey;
    padding-left: 10px;
}

.mention-highlight {
	background-color:#fff2bb;
}

.mention-link {
	color:$primary-color;
}
