@charset "UTF-8";

.channel-header__info .popover-content {
	max-height: 250px;
	overflow: auto;
}

.user-popover {
	cursor: pointer;
	display: inline-block;
}

.code-popover .popover-content {
    padding: 5px;
}

.user-popover__image {
	margin: 0 0 10px;
	@include border-radius(128px);
}

.user-popover__email {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.search-help-popover {
    visibility: hidden;
    max-width: none;
    width: 100%;
    top: 36px;
    @include single-transition(opacity, 0.3s, ease-in);
    font-size: em(13px);

    &.autocomplete {
        display: block;
        .popover-content {
            padding: 10px;
            position: relative;
        }
    }

    .search-autocomplete__divider {
        margin: 10px 0 5px;
        line-height: 21px;
        position: relative;
        &:first-child {
            margin-top: 5px;
        }
        span {
            display: inline-block;
            padding-right: 10px;
            background: #fff;
            z-index: 5;
            position: relative;
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: #ddd;
            top: 10px;
            left: 0;
            @include opacity(0.2);
        }
    }

    .search-autocomplete__item {
        cursor: pointer;
        padding: 6px 8px;
        margin: 3px 0 0 5px;
        @include border-radius(2px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            background: rgba(black, 0.1);
        }

        &.selected {
            background: rgba(black, 0.2);
        }

        .profile-img {
            margin-top: -1px;
            height: 16px;
            margin-right: 6px;
            width: 16px;
        }
    }

    &.bottom > .arrow {
        top: -18px;
        border-width: 9px;
        left: 30px;
    }

    .popover-content {
        max-height: 500px;
        overflow: auto;
        padding: 3px 13px;
    }

    h4 {
        font-size: 1em;
    }

    ul {
        padding-left: 17px;
        span {
            @include opacity(0.8);
        }
        strong, b {
            @include opacity(1);
        }
    }

    .tooltip-inner {
        max-width: 100%;
    }

    &.visible {
        visibility: visible;
        @include opacity(1);
    }
}

#member-list-popover {
    max-width: initial;
    .popover-content {
        position: relative;
        padding: 0;
        width: 260px;
        max-height: 350px;
        .text-nowrap {
            padding: 6px 10px;
            width: 100%;
            overflow: hidden;
            line-height: 26px;
            font-size: 13px;
        }
        .more-name {
            margin-left: 6px;
        }
    }
}
