.channel-header__info .popover-content {
	max-height: 250px;
	overflow: auto;
}

.user-popover {
	cursor: pointer;
	display: inline-block;
}

.user-popover__image {
	margin: 0 0 10px;
	@include border-radius(128px);
}

.user-popover__email {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.search-help-popover {
    visibility: hidden;
    max-width: none;
    width: 100%;
    top: 36px;
    @include single-transition(opacity, 0.3s, ease-in);
    font-size: em(13px);

    &.bottom > .arrow {
        top: -18px;
        border-width: 9px;
        left: 30px;
    }

    .popover-content {
        padding: 3px 13px;
    }

    h4 {
        font-size: 1em;
    }

    ul {
        padding-left: 17px;
        span {
            @include opacity(0.7);
        }
        strong, b {
            @include opacity(1);
        }
    }

    .tooltip-inner {
        max-width: 100%;
    }

    &.visible {
        visibility: visible;
        @include opacity(1);
    }
}
