.post-right__container {

	.post-right-root-message {
		padding: 1em 1em 0;
	}

	.post-right-comments-container {
		position: relative;
		padding: 0;
	}

	.post {
		&.post--root {
			padding: 0 1em 0;
			margin: 1em 0;
			hr {
				border-color: #DDD;
				margin: 1em 0 0 0;
			}
		}
	}

	.post-create__container {
		margin-top: 10px;
		.textarea-wrapper {
			min-height: 100px;
		}
		.custom-textarea {
			min-height: 100px;
		}
		.msg-typing {
			color: #555;
			float: left;
			padding-top: 17px;
		}
		.post-create-footer {
			padding-top: 10px;
		}
	}

}
.post-right-header {
	font-size: 1em;
	text-transform: uppercase;
	color: #999;
	font-weight: 400;
	color: #888;
	height: 39px;
	padding: 10px 10px 0 15px;
	border-bottom: $border-gray;
}

.post-right-root-container {
	padding: 5px 10px;
	border-bottom: $border-gray;
}

.post-right-root-container {
	ul {
		padding-left: 0;
		margin-bottom: 2px;
	}
}

.post-right-channel__name {
	font-weight: 600;
	margin: 0 0 10px 0;
}

.post-right-root-container li {
	display: inline;
	list-style-type: none;
	padding-right: 3px;
}

.post-right-root-time {
	color: #a8adb7;
}

.post-right-create-comment-container {
	padding: 5px;
	margin-bottom: 18px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.post-right__scroll {
	position: relative;
}

.post-right-comment-time {
	color: #a8adb7;
}
