.search-bar__container {
	padding: 8px 8px 8px 0;
}
.search__clear {
	display: none;
	position: absolute;
	right: 0;
	line-height: 45px;
	margin-right: 13px;
	@include single-transition(all, 0.2s, linear);
	@include translateX(60px);
	z-index: 5;
	cursor: pointer;
}
.sidebar__collapse {
	cursor: pointer;
	z-index: 5;
	fill: #FFF;
	position: absolute;
	left: 0;
	font-size: 35px;
	width: 49px;
	@include single-transition(all, 0.2s, linear);
	@include translateX(0px);
	text-align: center;
	padding-left: 1px;
	line-height: 40px;
	display: none;
}
.sidebar__search-icon {
	position: absolute;
	top: 15px;
	margin-left: 10px;
	font-size: 14px;
	@include opacity(0.5);
	display: none;
}
.search__form {
	.search-bar__container & {
		margin: 0;
		border: 1px solid #DDD;
		@include border-radius(2px);
		width: 300px;
	}
	.sidebar--right & {
		width: 100%;
	}
	.search-bar {
		height: 40px;
		padding-right: 30px;
		box-shadow: none;
		.search-bar__container & {
			height: 30px;
			border: none;
		}
	}
	.glyphicon-refresh-animate {
		top: 27px;
		position: absolute;
		right: 27px;
		color: #999;
		.search-bar__container & {
			right: 7px;
			top: 8px;
		}
	}
}

.search-items-container {
	position: relative;
}

.search-results-header {
	font-size: 1em;
	text-transform: uppercase;
	color: #999;
	font-weight: 400;
	color: #888;
	height: 44px;
	line-height: 44px;
	padding: 0 10px 0 10px;
	border-bottom: $border-gray;
}

.search-item-container {
	border-top: $border-gray;
	padding: 10px 1em;
	margin: 0;
	cursor: pointer;
	&:first-child {
		border: none;
	}
	.search-channel__name {
		font-weight: 600;
		margin: 0 0 10px 0;
	}
}

.search-item-time {
	color: #a8adb7;
}

.search-results-none {
	padding: 10px;
}

.search-highlight {
	background-color: #FFF2BB;
}
