@charset "UTF-8";

#channel-header .search-bar__container {
	padding: 0 8px 0 3px;
}
.search-bar__container {
	padding: 12px 8px 0 0;
	@include flex(0 0 56px);
}
.search__clear {
	display: none;
	position: absolute;
	right: 0;
	line-height: 45px;
	margin-right: 13px;
	@include single-transition(all, 0.2s, linear);
	@include translateX(60px);
	z-index: 5;
	cursor: pointer;
}

.search-item-snippet {
	@include clearfix;
	text-overflow: ellipsis;
}

.sidebar__collapse {
	cursor: pointer;
	z-index: 5;
	fill: #FFF;
	position: absolute;
	left: 0;
	font-size: 35px;
	width: 49px;
	@include single-transition(all, 0.2s, linear);
	@include translateX(0px);
	text-align: center;
	padding-left: 1px;
	line-height: 40px;
	display: none;
}
.search-item-snippet {
	ul, ol {
		padding-left: 20px;
	}
}
.sidebar__search-icon {
	position: absolute;
	top: 15px;
	margin-left: 10px;
	font-size: 14px;
	@include opacity(0.5);
	display: none;
	color: #777;
}
.search__form {
	.search-bar__container & {
		margin: 0;
		border: 1px solid #DDD;
		@include border-radius(2px);
		width: 300px;
	}
	.sidebar--right & {
		width: 100%;
	}
	.search-bar {
		height: 40px;
		padding-right: 30px;
		box-shadow: none;
		.search-bar__container & {
			height: 30px;
			border: none;
		}
	}
	.glyphicon-refresh-animate {
		top: 27px;
		position: absolute;
		right: 27px;
		color: #999;
		.search-bar__container & {
			right: 7px;
			top: 8px;
		}
	}
}

.search-items-container {
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	@include flex(1 1 auto);
	height: calc(100% - 56px);
	padding-top: 10px;
}

.search-results-header {
	font-size: 1em;
	text-transform: uppercase;
	color: #999;
	font-weight: 400;
	color: #888;
	height: 44px;
	line-height: 44px;
	padding: 0 10px 0 10px;
	border-bottom: $border-gray;
}

.search-item__container {

	.post {
		padding: 0 1em 1em;
		margin: 0;

		&:first-child {
			border: none;
		}

		.search-channel__name {
			font-weight: 600;
			margin: 0 0 10px 0;
		}
	}

}

.search-item__jump {
	position: absolute;
	right: 0;
	top: 0px;
	font-size: 13px;
	@include opacity(0.8);

	&:hover {
		@include opacity(1);
	}

}

.search-item__comment {
	position: absolute;
	right: 0;
	margin-right: 35px;
	top: 0;
}

.search-item-time {
	@include opacity(0.7);
    font-size: 0.9em;
}

.search-results-none {
	padding: 10px;
}

.search-highlight {
	background-color: #FFF2BB;
}