@charset "UTF-8";

@function em($pixels, $context: 14px) {
	@return #{$pixels/$context}em
}

// Color Variables
$primary-color: #2389D7;
$primary-color--hover: darken(#2389D7, 5%);
$body-bg: #e9e9e9;
$header-bg: #f9f9f9;
$border-gray: 1px solid #ddd;

%popover-box-shadow {
	@include box-shadow(rgba(black, 0.175) 1px -3px 12px);
}
