@use 'utils/variables';

.AutoTranslationFeatureDiscovery .FeatureDiscovery {
    all: unset; // removes all inheritable and non-inheritable properties (use with caution)
    
    display: grid;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    gap: 24px;
    grid-template-columns: 1fr auto;

    
    .FeatureDiscovery_copyWrapper {
        padding: 0;
    }
}

.AutoTranslationTag {
    display: flex;
    width: fit-content;
}
