.search-item-wrapper {
    position: absolute;
    overflow: hidden;
    width: 50%;
    box-sizing: border-box;
    border-radius: 0.6rem;
}

.search-item {
    display: inline-block;
    width: 100%;
    background-size: cover;
    border-radius: 0.6rem;
    cursor: pointer;
}
