.CloudStartTrialButton {
    &:not(.style-link) {
        width: fit-content;
        padding: 13px 20px;
        border: none;
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
    }

    &.style-link {
        padding-left: 0;
    }
}
