files:
    "/etc/nginx/conf.d/proxy.conf":
      mode: "000755"
      owner: root
      group: root
      content: |
        client_max_body_size 50M;
    "/opt/elasticbeanstalk/hooks/appdeploy/post/init.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
        #!/usr/bin/env bash
        gpasswd -a ec2-user docker 
