.CommercialSupportModal {
    padding: 0 32px 32px 32px;

    .DownloadSupportPacket {
        margin-top: 20px;
    }

    .AlertBanner {
        margin-top: 20px;
    }

    &__packet_contents_download {
        margin-top: 20px;
        margin-bottom: 12px;
    }

    &__options_checkbox_label {
        padding-left: 12px;
        font-weight: 500;
    }
}

.modal-header .modal-title {
    font-family: Metropolis, sans-serif;
    font-weight: 600;
}
