ul#dropdown_send_post_options {
    li[role="menuitem"][aria-disabled="true"] {
        opacity: 1;

        .label-elements {
            font-weight: bold;
        }
    }

    .MuiDivider-root {
        height: 1px;
        border: none;
        margin: 0;
        background-color: rgba(var(--center-channel-color-rgb), 0.08);
    }
}
