ul#dropdown_send_post_options {
    li[role="menuitem"][aria-disabled="true"] {
        opacity: 1;

        .label-elements {
            font-weight: bold;
        }
    }

    li.dm-schedule-header {
        .label-elements {
            font-weight: 500;
            font-size: 14px;
        }

        .secondary-label {
            font-size: 12px;
            font-weight: 400;
            color: rgba(var(--center-channel-color-rgb), 0.64);
        }
    }

    li.core-menu-options,
    li.dm-menu-options {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        .secondary-label {
            font-size: 12px;
            font-weight: 400;
            color: rgba(var(--center-channel-color-rgb), 0.64);
            margin-top: 2px;
        }

        .trailing-elements {
            margin-top: 4px;
            margin-left: 0;
            opacity: 0.8;
        }
    }
}
