{{define "complete_saml_body"}}

<html>
	<head>
		<script>
			document.addEventListener("DOMContentLoaded", function(event) {

                // TODO: targetOrigin should accept specific domains not *
                // This template will be used for embedded use cases,
                // For Chrome extension: check complete_saml_extension_body
				window.opener.postMessage({
					value: {{.Token}},
					error: {{.Error}}
				}, "*");
			});
		</script>
	</head>
	<body>
		Login Successful
	</body>
</html>

{{end}}
