.UserGrid_nameRow {
    display: flex;
    height: 80px;

    .UserGrid_name {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        align-self: center;
        padding-left: 10px;
        text-overflow: ellipsis;

        span {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.UserGrid_removeRow {
    padding-right: 20px;
}
