<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8" />
  <title>Mattermost API Reference</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="./static/favicon.ico">
  <script src="https://unpkg.com/@stoplight/elements/web-components.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@stoplight/elements/styles.min.css">
  <style>
    body {
      padding: 0;
      margin: 0;
      height: 100vh;
    }
  </style>
</head>

<body>
  <elements-api
    apiDescriptionUrl="./static/mattermost-openapi-v4.yaml"
    router="hash"
    layout="sidebar"
  />
</body>

</html>
