<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8" />
  <title>Mattermost API Reference</title>
  <!-- needed for adaptive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="./favicon.ico">
  <style>
    body {
      padding: 0;
      margin: 0;
    }
    label[type="tag"] {
        text-transform:  uppercase;
      }
      h1{
        text-transform: capitalize;
      }
  </style>
  {{{redocHead}}}
  {{#unless disableGoogleFont}}<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">{{/unless}}
</head>

<body>
  {{{redocHTML}}}
</body>

</html>
