.BlockContent {
    display: flex;

    &.over-up {
        border-top: 1px solid rgba(128, 192, 255, 0.4);
    }

    &.over-down {
        border-bottom: 1px solid rgba(128, 192, 255, 0.4);
    }

    &:hover {
        .action {
            opacity: 1;

            .AddIcon {
                opacity: 0.5;
            }
        }
    }

    .action {
        transition: opacity 0.3s;
        opacity: 0;
        margin: 5px;
    }

    .content {
        flex-grow: 1;
    }
}
