.select-text-description {
    margin-top: 8px;
    color: rgba(var(--center-channel-color-rgb), 0.64);
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
