.access-invite-section {
    margin-top: 24px;
    gap: 0;

    #teamInviteContainer {
        display: flex;
        align-items: center;
        margin-top: 24px;

        #regenerateButton {
            height: 34px;
        }
        
        .Input_container {
            margin-right: 8px;

            #teamInviteId {
                background-color: unset;
            }
        }
    }
}

.access-allowed-domains-section {
    #allowedDomainsSetting {
        #allowedDomains {
            margin-top: 16px;
        }
    }
}

.access-invite-domains-section {
    margin: 24px 0;

    .mm-modal-generic-section-item__fieldset-checkbox-ctr {
        margin-top: 24px;
    }
}