.OutOfChannelMentionConfirmModal {
    &__body {
        p {
            margin-bottom: 12px;
        }
    }

    &__mentions {
        font-weight: 600;
    }

    &__checkbox {
        margin-top: 16px;
    }
}
