@charset 'UTF-8';

.form-horizontal {
    .modal-intro {
        margin: -10px 0 30px;
    }

    .form__label {
        font-size: 1.1em;
        font-weight: 600;
        padding-right: 3px;
        text-align: left;

        &.light {
            @include opacity(.6);
            font-size: 1.05em;
            font-style: italic;
            font-weight: normal;
            padding-top: 2px;
        }
    }

    .input__help {
        @include opacity(.8);
        color: inherit;
        margin: 10px 0 0 10px;
        word-break: break-word;

        &.dark {
            @include opacity(1);
        }

        &.error {
            color: darken($red, 20%);
        }
    }

    .form-control {
        font-weight: normal;
    }

    .form-group {
        margin-bottom: 25px;

        &.less {
            margin-bottom: 10px;
        }
    }
}

.help-block {
    color: $dark-gray;
    font-size: .95em;
    margin: 10px 0 0;
}

.form-group {
    &.form-group--small {
        margin-bottom: 10px;
    }
}

.padding-top {
    padding-top: 7px;

    &.x2 {
        padding-top: 14px;
    }

    &.x3 {
        padding-top: 21px;
    }
}

.padding-bottom {
    padding-bottom: 7px;

    &.x2 {
        padding-bottom: 14px;
    }

    &.x3 {
        padding-bottom: 21px;
    }

    .control-label {
        font-weight: 600;

        &.text-left {
            text-align: left;
        }
    }
}
