@charset 'UTF-8';

.radio,
.checkbox {
    &.margin-bottom--none {
        margin-bottom: 0;
    }
}

.form-horizontal {
    .modal-intro {
        margin: -10px 0 30px;
    }

    .form__label {
        font-size: 1.1em;
        font-weight: 600;
        padding-right: 3px;
        text-align: left;

        &.light {
            @include opacity(.6);
            font-size: 1.05em;
            font-style: italic;
            font-weight: normal;
            padding-top: 2px;
        }
    }

    .input__help {
        @include opacity(.8);
        color: inherit;
        margin: 10px 0 0 0;
        word-break: break-word;

        &.dark {
            @include opacity(1);
        }

        &.error {
            color: darken($red, 20%);
        }
    }

    .form-control {
        font-weight: normal;
    }

    .form-group {
        margin-bottom: 25px;

        &.less {
            margin-bottom: 10px;
        }
    }
}

.help-block {
    color: $dark-gray;
    font-size: .95em;
    margin: 10px 0 0;
}

.form-group {
    &.form-group--small {
        margin-bottom: 10px;
    }
}

.has-error {
    .help-block,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline {
        color: $red;
    }

    .form__label {
        &.control-label {
            color: inherit !important;
        }
    }

    &.radio,
    &.checkbox,
    &.radio-inline,
    &.checkbox-inline {
        label {
            color: $red;
        }
    }
}
