@charset 'UTF-8';

.post-right__container {
    @include display-flex;
    @include flex-direction(column);
    height: 100%;

    .post-right-root-message {
        padding: 1em 1em 0;
    }

    .post-right-comments-container {
        position: relative;

        .post {
            &:first-child {
                padding-top: 15px;
            }
        }
    }


    .help_format_text {
        bottom: -63px;
        right: auto;
    }

    .post {
        &.post--root {
            border-bottom: 1px solid #ddd;
            padding-bottom: 1em;

            .post__body {
                background: transparent !important;
            }
        }

        .post__header {
            .col__reply {
                background: transparent !important;
                border: none !important;
                text-align: right;
                top: 0;
            }
        }

        .post__body {
            width: 100%;
        }
    }

    hr {
        border: none;
    }

    .post-create__container {
        width: 100%;

        .textarea-wrapper {
            min-height: 100px;
        }

        .btn {
            margin-bottom: 10px;
            
            &.disabled {
                color: grey;
            }
        }

        .custom-textarea {
            min-height: 100px;
        }

        .msg-typing {
            @include opacity(.7);
            display: block;
            float: left;
            font-size: 13px;
            height: 20px;
            line-height: 20px;
            margin-top: 3px;
            max-width: 230px;
            min-width: 1px;
        }

        .post-create-footer {
            padding: 5px 0 30px;
            width: 100%;
        }

        .post-right-comments-upload-in-progress {
            @include opacity(.7);
            margin-right: 10px;
            padding: 6px 0;
        }
    }
}

.post-right-header {
    border-bottom: $border-gray;
    color: #999;
    font-size: 1em;
    font-weight: 400;
    height: 39px;
    padding: 10px 10px 0 15px;
    text-transform: uppercase;
}

.post-right-root-container {
    border-bottom: $border-gray;
    padding: 5px 10px;

    ul {
        margin-bottom: 2px;
        padding-left: 0;
    }
}

.post-right-channel__name {
    font-weight: 600;
    margin: 0 0 15px;
}

.post-right-root-container li {
    display: inline;
    list-style-type: none;
    padding-right: 3px;
}

.post-right-root-time {
    color: #a8adb7;
}

.post-right-create-comment-container {
    bottom: 0;
    left: 0;
    margin-bottom: 18px;
    padding: 5px;
    position: absolute;
    width: 100%;
}

.post-right__scroll {
    -webkit-overflow-scrolling: touch;
    @include flex(1 1 auto);
    overflow: auto;
    position: relative;

    .file-preview__container {
        margin-top: 5px;
    }
}

.post-right-comment-time {
    color: #a8adb7;
}
