.JobCancelButton {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 0;
    text-decoration: none;
    vertical-align: middle;
}
