.noInternetConnection__container {
    display: flex;
    flex-direction: column;
    text-align: center;

    .noInternetConnection__noAccessToInternet {
        width: 304px;
        height: 56px;
        margin: 0 auto;
        color: rgba(var(--center-channel-color-rgb), 1);
        font-family: Open Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
    }

    .noInternetConnection__contactSupport,
    .noInternetConnection__emailUs {
        color: rgba(var(--center-channel-color-rgb), 0.75);
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        line-height: 28px;
        text-align: center;
    }

    .noInternetConnection__image {
        margin: 0 auto;
    }
}
