.CustomPolicy__fields {
    width: 100%;

    @media screen and (min-width: 960px) {
        width: 50%;
    }

    .DropdownInput .Input.form-control {
        padding: 6px 12px;
    }

    i.icon.icon-infinity.option-icon {
        vertical-align: middle;
    }

    .Input {
        color: var(--sys-center-channel-color);
    }

    .Input_wrapper,
    .Input___info {
        color: rgba(var(--sys-center-channel-color-rgb), 0.73);
    }

    .Input::placeholder {
        color: rgba(var(--sys-center-channel-color-rgb), 0.73);
    }

    .Input_fieldset {
        border: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.16);
    }

    .Input_fieldset:hover {
        border-color: rgba(var(--sys-center-channel-color-rgb), 0.48);
    }

    .Input_fieldset:focus-within {
        border-color: var(--sys-button-bg);
        box-shadow: inset 0 0 0 1px var(--sys-button-bg);
        color: var(--sys-button-bg);
    }

    .Input_fieldset:focus-within .Input_legend {
        color: var(--sys-button-bg);
    }

    .Input_legend {
        background-color: var(--sys-center-channel-bg);
        color: rgba(var(--sys-center-channel-color-rgb), 0.73);
    }
}

.CustomPolicy__error {
    display: flex;
    align-items: center;
    color: var(--sys-error-text);
    font-size: 12px;
    line-height: 16px;

    i {
        margin-right: 4px;
        font-size: 14.4px;
    }
}
