.file_card {
    display: flex;
    width: 300px;
    height: 40px;
    flex-direction: row;
    align-items: center;
    padding: 0 6px;
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
    margin: 0 2px;
    border-radius: 4px;
    color: var(--center-channel-color);

    &__name {
        overflow: hidden;
        min-width: 0;
        flex-shrink: 1;
        margin-right: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__size {
        flex-shrink: 0;
        margin-left: auto;
        color: rgba(var(--center-channel-color-rgb), 0.75);
        font-size: 12px;
    }

    &__image {
        min-width: 28px;
        max-width: 28px;
        min-height: 28px;
        max-height: 28px;
        margin-right: 8px;
        border-radius: 2px;
    }

    &__attachment {
        margin-right: 4px;
        color: rgba(var(--center-channel-color-rgb), 0.5);

        &[class*='text'] {
            color: rgba(var(--center-channel-color-rgb), 0.5);
        }

        &[class*='excel'] {
            color: #1ca660;
        }

        &[class*='pdf'],
        &[class*='powerpoint'] {
            color: #ed522a;
        }

        &[class*='generic'],
        &[class*='code'],
        &[class*='image'],
        &[class*='audio'],
        &[class*='video'],
        &[class*='word'],
        &[class*='patch'],
        &[class*='svg'] {
            color: #338aff;
        }
    }
}
