/*
Notes:
- I removed the styles specific to the System Console (.console__body) since it didn't really make sense for those to
  be different than the rest of the app. The styles had slightly drifted in
  https://github.com/mattermost/mattermost/pull/26570, but they were mostly the same outside of one colour value.
- I also removed the .app__body wrapper around the rest of these since I don't see any reason why those would differ
  between themed and unthemed parts of the app.
- (Potential TODO) We can probably remove the variants since none of them appear to be used, and they don't match the standard variants
  of the tag component.
- (Potential TODO) Change to proper CSS modules or consider changing the naming convention to prevent conflicts.
*/

.shortcut-key {
    display: inline-block;
    padding: 10px 9px 8px 8px;
    border-radius: 4px;
    background: var(--center-channel-color);
    color: var(--center-channel-bg);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;

    &.shortcut-key--contrast {
        background-color: rgba(var(--center-channel-color-rgb), 0.08);
        color: var(--center-channel-color);
    }

    &.shortcut-key--tooltip {
        padding: 2px 5px;
        background-color: rgba(255, 255, 255, 0.08);
        color: rgba(255, 255, 255, 0.75);
        font-family: inherit;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }

    &.shortcut-key--tutorial-tip {
        padding: 2px 5px;
        background-color: rgba(var(--button-color-rgb), 0.08);
        color: rgba(var(--button-color-rgb), 0.75);
        font-family: inherit;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }

    &.shortcut-key--shortcut-modal {
        font-family: inherit;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }
}
