.FilterEntry {
    display: flex;
    flex-direction: row;

    > div {
        display: flex;
        flex-direction: row;
    }

    .Button {
        overflow: hidden;
        max-width: 220px;
        text-overflow: ellipsis;
        white-space: normal;
        display: block;
    }
}
