.clInput {
    display: block;
    margin-bottom: 20px;
}

.clWrapper {
    width: auto;
    padding: 25px;
    margin-bottom: 20px;
}

.clCenterBackground {
    background-color: var(--center-channel-bg);
}

.clSidebarBackground {
    background-color: var(--sidebar-bg);
}

.clTable {
    width: 100%;
    max-width: 970px;
    background-color: var(--center-channel-bg);

    th {
        text-transform: capitalize;
    }

    tr {
        background-color: var(--center-channel-bg);
    }

    th, td {
        padding: 12px 10px;
        text-align: center;

        &.inverted {
            background-color: var(--sidebar-bg);
        }
    }
}
