.ActivityAndInsights,
.insights-modal {
    .react-select {
        .react-select__control {
            height: 32px;
            min-height: 32px;
            border-color: rgba(var(--center-channel-color-rgb), 0.2);
            background: var(--center-channel-bg);
        }

        .react-select__value-container {
            padding-left: 12px;
        }

        .react-select__indicators {
            padding-right: 10px;
            color: rgba(var(--center-channel-color-rgb), 0.64);
        }

        .react-select__input {
            color: var(--center-channel-color);
        }
    }
}
