@import 'utils/mixins';

.AdvancedTextbox {
    position: relative;

    .textarea-wrapper {
        position: relative;

        // forcing this styles since textarea has ohter styles that affect the post input, so keeping it here isolated inside advanced textbox
        .textarea--has-errors{
            border-color: var(--error-text) !important;
            
            &:focus {
                border-color: var(--error-text) !important;
                box-shadow: 0 0 0 1px var(--error-text) !important;
            }
        }
    }
    
    &__error-message {
        display: flex;
        align-items: center;
        margin-top: 4px;
        color: var(--error-text);
        font-size: 12px;
        
        i {
            margin-right: 4px;
            font-size: 14px;
        }
    }
    
    &__character-count {
        position: absolute;
        right: 0;
        margin-top: 4px;
        font-size: 12px;
        
        &.exceeds-limit {
            color: var(--error-text);
        }

        &.below-minimum {
            color: var(--error-text);
        }
    }

    &__description {
        display: flex;
        align-items: center;
        padding: 0;
        margin-top: 4px;
        color: rgba(var(--center-channel-color-rgb), 0.64);
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }
}
