.settings-menu-title__text {
    color: rgba(63, 67, 80, 0.56);
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    line-height: 16px;
    padding: 6px 20px;
}
