package main

import (
    "github.com/mattermost/mattermost/server/public/plugin"
    "github.com/mattermost/mattermost/server/public/model"
)

type MyPlugin struct {
    plugin.MattermostPlugin
}

func (p *MyPlugin) NotificationWillBePushed(notification *model.PluginPushNotification) (cancel bool) {
    %s
}

func main() {
    plugin.ClientMain(&MyPlugin{})
}
